<% i = 0 %>
<% len = @boards.length %>
<% if @user.boards.count === 0 %>
    <span class='no-follower'>投稿はありません</span>
<% else %>
    <div class='board-index-show'>
        <% while i < len do %>
            <% @boards.each do |board| %>
            <div class='show-board-content'>
                <div class='article-bottom'>
                    講義 : <%= board.sub %><br>
                    教授 : <%= board.prof %><br>
                    <span class='user-form1'>講義の面白さ</span><span class='star-rate1' id="star-rate1-<%= board.id %>"></span><br />
                    <span class='user-form2'>教授の人柄</span><span class='star-rate2' id="star-rate2-<%= board.id %>"></span><br />
                    <span class='user-form3'>単位の取りやすさ</span><span class='star-rate3' id="star-rate3-<%= board.id %>"></span><br />

                        
                    <% if board.comment.length < 24 %>
                        <span class='board-comment-show'><%= board.comment %></span>
                    <% else %>
                        <span class='board-comment-show'><%= board.comment[0..19] %></span>
                        <span class='continue-comment-show'>...</span><%= link_to '続きを読む',board_path(board),class:'continue-comment-link-show' %></span>
                    <% end %>

                        
                    <% if board.comment.length < 21 %>
                        <span class='board-comment-show-1200'><%= board.comment %></span>
                    <% else %>
                        <span class='board-comment-show-1200'><%= board.comment[0..16] %></span>
                        <span class='continue-comment-show-1200'>...</span><%= link_to '続きを読む',board_path(board),class:'continue-comment-link-show-1200' %></span>
                    <% end %>

                    
                    <% if board.comment.length < 30 %>
                        <span class='board-comment-1000'><%= board.comment %></span>
                    <% else %>
                        <span class='board-comment-1000'><%= board.comment[0..24] %></span>
                        <span class='continue-comment-1000'>...</span><span id='<%= i %>-1000' class='continue-comment-link-1000'>続きを読む</span></span>
                    <% end %>

                    <% if board.comment.length < 27 %>
                        <span class='board-comment-767'><%= board.comment %></span>
                    <% else %>
                        <span class='board-comment-767'><%= board.comment[0..21] %></span>
                        <span class='continue-comment-767'>...</span><span id='<%= i %>-767' class='continue-comment-link-767'>続きを読む</span></span>
                    <% end %>
                    
                    <% if board.comment.length < 29 %>
                        <span class='board-comment-600'><%= board.comment %></span>
                    <% else %>
                        <span class='board-comment-600'><%= board.comment[0..24] %></span>
                        <span class='continue-comment-600'>...</span><span id='<%= i %>-600' class='continue-comment-link-600'>続きを読む</span></span>
                    <% end %>
                    
                    <% if board.comment.length < 29 %>
                        <span class='board-comment-480'><%= board.comment %></span>
                    <% else %>
                        <span class='board-comment-480'><%= board.comment[0..23] %></span>
                        <span class='continue-comment-480'>...</span><span id='<%= i %>-480' class='continue-comment-link-480'>続きを読む</span></span>
                    <% end %>
                    
                    <% if board.comment.length < 28 %>
                        <span class='board-comment-470'><%= board.comment %></span>
                    <% else %>
                        <span class='board-comment-470'><%= board.comment[0..22] %></span>
                        <span class='continue-comment-470'>...</span><span id='<%= i %>-470' class='continue-comment-link-470'>続きを読む</span></span>
                    <% end %>

                    <% if board.comment.length < 27 %>  
                        <span class='board-comment-454'><%= board.comment %></span>
                    <% else %>
                        <span class='board-comment-454'><%= board.comment[0..21] %></span>
                        <span class='continue-comment-454'>...</span><span id='<%= i %>-454' class='continue-comment-link-454'>続きを読む</span></span>
                    <% end %>
                    
                    <% if board.comment.length < 26 %>
                        <span class='board-comment-441'><%= board.comment %></span>
                    <% else %>
                        <span class='board-comment-441'><%= board.comment[0..20] %></span>
                        <span class='continue-comment-441'>...</span><span id='<%= i %>-441' class='continue-comment-link-441'>続きを読む</span></span>
                    <% end %>

                    <% if board.comment.length < 25 %>
                        <span class='board-comment-428'><%= board.comment %></span>
                    <% else %>
                        <span class='board-comment-428'><%= board.comment[0..19] %></span>
                        <span class='continue-comment-428'>...</span><span id='<%= i %>-428' class='continue-comment-link-428'>続きを読む</span></span>
                    <% end %>

                    <% if board.comment.length < 24 %>
                        <span class='board-comment-417'><%= board.comment %></span>
                    <% else %>
                        <span class='board-comment-417'><%= board.comment[0..18] %></span>
                        <span class='continue-comment-417'>...</span><span id='<%= i %>-417' class='continue-comment-link-417'>続きを読む</span></span>
                    <% end %>

                    <% if board.comment.length < 23 %>
                        <span class='board-comment-401'><%= board.comment %></span>
                    <% else %>
                        <span class='board-comment-401'><%= board.comment[0..17] %></span>
                        <span class='continue-comment-401'>...</span><span id='<%= i %>-401' class='continue-comment-link-401'>続きを読む</span></span>
                    <% end %>

                    <% if board.comment.length < 22 %>
                        <span class='board-comment-388'><%= board.comment %></span>  
                    <% else %>
                        <span class='board-comment-388'><%= board.comment[0..16] %></span>
                        <span class='continue-comment-388'>...</span><span id='<%= i %>-388' class='continue-comment-link-388'>続きを読む</span></span>
                    <% end %>

                    <% if board.comment.length < 21 %>
                        <span class='board-comment-377'><%= board.comment %></span>
                    <% else %>
                        <span class='board-comment-377'><%= board.comment[0..15] %></span>
                        <span class='continue-comment-377'>...</span><span id='<%= i %>-377' class='continue-comment-link-377'>続きを読む</span></span>
                    <% end %>

                    <span class='board-comment-all-1000'><%= board.comment %></span>
                    <span class='board-date'><br /><%= board.created_at.strftime('%Y/%m/%d') %>
                </div>
            </div>
        
            <script>
                $('#star-rate1-<%= board.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                readOnly: true,
                score: <%= board.rate1 %>
                });
            </script>
            <script>
                $('#star-rate2-<%= board.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                readOnly: true,
                score: <%= board.rate2 %>
                });
            </script>
            <script>
                $('#star-rate3-<%= board.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                readOnly: true,
                score: <%= board.rate3 %>
                });
            </script>
            <script>
                $('#<%= i %>')
                    .on('click',function(){
                        var continue1000Str = '<%= i %>';
                        var continue1000Ind = Number(continue1000Str);
                        $('.board-comment-all').eq(continue1000Ind).css('display','inline');
                        $('.board-comment').eq(continue1000Ind).css('display','none');
                        $('.continue-comment').eq(continue1000Ind).css('display','none');
                        $('.continue-comment-link').eq(continue1000Ind).css('display','none');
                    });
                $('#<%= i %>-1000')
                .on('click',function(){
                    var continue1000Str = '<%= i %>';
                    var continue1000Ind = Number(continue1000Str);
                    $('.board-comment-all-1000').eq(continue1000Ind).css('display','inline');
                    $('.board-comment-1000').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-link-1000').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-1000').eq(continue1000Ind).css('display','none');
                });
                $('#<%= i %>-767')
                .on('click',function(){
                    var continue1000Str = '<%= i %>';
                    var continue1000Ind = Number(continue1000Str);
                    $('.board-comment-all-1000').eq(continue1000Ind).css('display','inline');
                    $('.board-comment-767').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-link-767').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-767').eq(continue1000Ind).css('display','none');
                });
                $('#<%= i %>-600')
                .on('click',function(){
                    var continue1000Str = '<%= i %>';
                    var continue1000Ind = Number(continue1000Str);
                    $('.board-comment-all-1000').eq(continue1000Ind).css('display','inline');
                    $('.board-comment-600').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-link-600').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-600').eq(continue1000Ind).css('display','none');
                });
                $('#<%= i %>-480')
                .on('click',function(){
                    var continue1000Str = '<%= i %>';
                    var continue1000Ind = Number(continue1000Str);
                    $('.board-comment-all-1000').eq(continue1000Ind).css('display','inline');
                    $('.board-comment-480').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-link-480').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-480').eq(continue1000Ind).css('display','none');
                });
                $('#<%= i %>-470')
                .on('click',function(){
                    var continue1000Str = '<%= i %>';
                    var continue1000Ind = Number(continue1000Str);
                    $('.board-comment-all-1000').eq(continue1000Ind).css('display','inline');
                    $('.board-comment-470').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-link-470').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-470').eq(continue1000Ind).css('display','none');
                });
                $('#<%= i %>-454')
                .on('click',function(){
                    var continue1000Str = '<%= i %>';
                    var continue1000Ind = Number(continue1000Str);
                    $('.board-comment-all-1000').eq(continue1000Ind).css('display','inline');
                    $('.board-comment-454').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-link-454').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-454').eq(continue1000Ind).css('display','none');
                });
                $('#<%= i %>-441')
                .on('click',function(){
                    var continue1000Str = '<%= i %>';
                    var continue1000Ind = Number(continue1000Str);
                    $('.board-comment-all-1000').eq(continue1000Ind).css('display','inline');
                    $('.board-comment-441').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-link-441').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-441').eq(continue1000Ind).css('display','none');
                });
                $('#<%= i %>-428')
                .on('click',function(){
                    var continue1000Str = '<%= i %>';
                    var continue1000Ind = Number(continue1000Str);
                    $('.board-comment-all-1000').eq(continue1000Ind).css('display','inline');
                    $('.board-comment-428').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-link-428').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-428').eq(continue1000Ind).css('display','none');
                });
                $('#<%= i %>-417')
                .on('click',function(){
                    var continue1000Str = '<%= i %>';
                    var continue1000Ind = Number(continue1000Str);
                    $('.board-comment-all-1000').eq(continue1000Ind).css('display','inline');
                    $('.board-comment-417').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-link-417').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-417').eq(continue1000Ind).css('display','none');
                });
                $('#<%= i %>-401')
                .on('click',function(){
                    var continue1000Str = '<%= i %>';
                    var continue1000Ind = Number(continue1000Str);
                    $('.board-comment-all-1000').eq(continue1000Ind).css('display','inline');
                    $('.board-comment-401').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-link-401').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-401').eq(continue1000Ind).css('display','none');
                });
                $('#<%= i %>-388')
                .on('click',function(){
                    var continue1000Str = '<%= i %>';
                    var continue1000Ind = Number(continue1000Str);
                    $('.board-comment-all-1000').eq(continue1000Ind).css('display','inline');
                    $('.board-comment-388').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-link-388').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-388').eq(continue1000Ind).css('display','none');
                });
                $('#<%= i %>-377')
                .on('click',function(){
                    var continue1000Str = '<%= i %>';
                    var continue1000Ind = Number(continue1000Str);
                    $('.board-comment-all-1000').eq(continue1000Ind).css('display','inline');
                    $('.board-comment-377').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-link-377').eq(continue1000Ind).css('display','none');
                    $('.continue-comment-377').eq(continue1000Ind).css('display','none');
                });
            </script>
        
            <% i += 1 %>
            <% end %>
        <% end %>
    </div>
<% end %>