<% i = 0 %>
<% len = @boards.length %>
<% if @user.boards.count === 0 %>
    <span class='no-follower'>投稿はありません</span>
<% else %>
    <div class='board-index-show'>
        <% while i < len do %>
            <% @boards.each do |board| %>
            <div class='show-board-content'>
                <div class='article-bottom'>
                    講義 : <%= board.sub %>
                    <span id='<%= i %>-top-report-button' class='end-users-boards-top-button'><i class="fa-solid fa-ellipsis"></i></span><br>
                    教授 : <%= board.prof %><br>
                    <span class='user-form1'>講義の面白さ</span><span class='star-rate1' id="star-rate1-<%= board.id %>"></span><br />
                    <span class='user-form2'>教授の人柄</span><span class='star-rate2' id="star-rate2-<%= board.id %>"></span><br />
                    <span class='user-form3'>単位の取りやすさ</span><span class='star-rate3' id="star-rate3-<%= board.id %>"></span><br />
                    <span class='board-favorites-<%= board.id %> end-users-show-board-favorites'>
                        <%= render 'public/boards/favorite' ,board:board %>
                    </span>
                    <% #モーダル %>
                    <%= render 'modalIndex' ,board:board,i:i %>

                    <span class='board-date-show'><br /><%= board.created_at.strftime('%Y/%m/%d') %>
                </div>
            </div>
        
            <script>
                $('#star-rate1-<%= board.id %>').empty();
                $('#star-rate1-<%= board.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                readOnly: true,
                score: <%= board.rate1 %>
                });
            </script>
            <script>
                $('#star-rate2-<%= board.id %>').empty();
                $('#star-rate2-<%= board.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                readOnly: true,
                score: <%= board.rate2 %>
                });
            </script>
            <script>
                $('#star-rate3-<%= board.id %>').empty();
                $('#star-rate3-<%= board.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                readOnly: true,
                score: <%= board.rate3 %>
                });
            </script>
        
            <% i += 1 %>
            <% end %>
        <% end %>
    </div>
<% end %>
