<% users = @user.followers %>
<% if @user.followers.count === 0 %>
    <% if @user === current_end_user %>
        <p class='no-follower'>ここにすべてのフォロワーが表示されます<p>
    <% else %>
        <p class='no-follower'>ここに@<%= @user.name %>のすべてのフォロワーが表示されます</p>
    <% end %>
<% else %>
    <table class='user-index-table'>
        <tbody>
            <% users.each do |user| %>
                <% if user === current_end_user %>
                    <tr>
                        <td class='td-profile-image' height='50'> 
                        <%= link_to end_user_path(user) do %>
                            <%= image_tag user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                        <% end %>
                        </td>
                        <td class='td-user-name'><span class='user-name-height'><%= user.name %></span></td>
                    </tr>
                <% end %>
                <tr>
                    <% unless user === current_end_user %>
                        <td class='td-profile-image' height='50'> 
                            <%= link_to end_user_path(user) do %>
                                <%= image_tag user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                            <% end %>
                        </td>
                        <td class='td-user-name'><span class='user-name-height'><%= user.name %></span></td>
                        <td class='td-follow'>
                            <%= render 'userFollowing' ,user:user %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
