<% i = 0 %>
<% len = @kakomons.length %>

<% if @user.kakomons.count === 0 %>
    <span class='no-follower'>投稿はありません</span>
<% else %>
    <div class='endusers-show-content'>
            <% @kakomons.each do |kakomon| %>
                <div class='end-users-show-kakomon-content'>
                    <%= link_to kakomon_path(kakomon),class:'end-users-show-image-link' do %>
                        <div class='end-users-article-body-<%= i %> end-users-article-body'> 
                            <%if kakomon.images.length > 1 %>
                                <span><i class="fa-solid fa-clone"></i></span>
                            <% end %>
                            <% kakomon.images.each do |image|%>
                                <%= image_tag image,class:'end-users-kakomons-image-size end-users-kakomons-image-size' %>
                                <% break %>
                            <% end %>
                        </div>
                    <% end %>
                    <div class='end-users-article-body-1000'> 
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <% kakomon.images.each do |image|%>
                                    <div class="swiper-slide">
                                        <%= image_tag image,class:'kakomons-index-image-size' %>
                                    </div>
                                <% end %>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                    <div class='kakomon-favorites-<%= kakomon.id %> kakomon-favorites endusers-kakomon-favorites'>
                        <%= render 'public/kakomons/favorite' ,kakomon:kakomon %>
                        <span id='<%= i %>-kakomon-report' class='end-users-kakomons-top-button'><i class="fa-solid fa-ellipsis"></i></span>
                    </div>
                    <div class='user-article-bottom'>
                        講義 : <%= kakomon.sub %><br>
                        教授 : <%= kakomon.prof %><br>
                        年度 : <%= kakomon.year %><br>
                        <span class='kakomon-date'><%= kakomon.created_at.strftime('%Y/%m/%d') %></span>
                        <%= render 'public/end_users/modalReport',i:i,kakomon:kakomon %>
                    </div>
                </div>
                <% #過去問評価詳細 %>
                <%= render 'modalKakomonShow',kakomon:kakomon,i:i %>
            <% end %>
            <% i += 1 %>
    </div>
<% end %>


<script>
    $('image')
        .on('click',function(){
        var numberstr = '<%= i %>';
        var numberInd = Number(numberstr)
        $('.kakomons-show').eq(numberInd).fadeIn();
        $('.index-modal-bg').fadeIn();
        });
    $('.index-modal-bg')
        .on('click',function(){
        $('.kakomons-show').fadeOut();
        });
</script>
