<span class='kakomons-show'>
    <div class='kakomons-show-<%= i %>'>
        <div class='kakomons-show-content'>
            <div class='article-body-kakomons-show'> 
                <div class="swiper-container kakomons-show-swiper-container">
                    <div class="swiper-wrapper kakomons-show-swiper-wrapper">
                        <div class="swiper-slide">
                        <% kakomon.images.each do |image|%>
                            <%= image_tag image,class:'end-users-kakomons-image-size' %>
                        <% end %>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            
            <div class='comment-wrapper'>
                <% #アイコン、名前 %>   
                <div class='kakomons-show-user-info'>
                    <%= link_to end_user_path(kakomon.end_user),class:'index-profile-image-link' do %>
                        <%= image_tag kakomon.end_user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                    <% end %>
                    <span class='kakomons-show-user-name'><%= kakomon.end_user.name %></span>
                </div>
                <% #コメント %>
                <%= render 'kakomonComment' ,kakomon:kakomon %>
            </div>
    </div>
</span>

