<div class='end-users-show-recommendation'>
    <span class='end-users-recommendation'>おすすめ</span>
    <span class='end-users-watch-all'><%= link_to 'すべて見る',end_users_path, class:'watch-all-link' %></span><br />
    <div class='users-show-recommendation-content-wrapper'>
        <% a = 0 %>
        <% for i in -20..0 %>
            <% @users.each do |user| %>
                <% count = user.kakomons.count + user.boards.count %>
                <% if count == -i %>
                    <% unless user == current_end_user %>
                        <% unless user.followed_by?(current_end_user) %>
                            <div class='users-show-recommendation-content'>
                                <div class='users-show-recommendation-following-followered'>
                                    <%= link_to end_user_path(user) do %>
                                        <%= image_tag user.get_profile_image ,class:'end-users-recommendation-image-size'%>
                                    <% end %>
                                </div>
                                <div>
                                    <%= link_to end_user_path(user),class:'end-users-index-name-link' do %>
                                        <strong><%= user.name %></strong><br />
                                    <% end %>
                                </div>
                                <div class='end-users-show-cor-wrapper'>
                                    <% if user.cor.length > 8 %>
                                        <span class='end-users-show-cor'><%= user.cor %></span>
                                    <% else %>
                                        <span class='end-users-show-cor-short'><%= user.cor %></span>
                                    <% end %>
                                </div>
                                <div>
                                    <%= render 'endUserRecommendationFollow',user:user %>
                                </div>
                            </div>
                            <% a += 1 %>
                        <% end %>
                    <% end %>
                <% end %>
                <% if a == 10 %>
                    <% break %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>