<div class='user-info-show'>
    <div class='user-info-profile-image'>
        <%= image_tag @user.get_profile_image,class:'show-profile-image' %>
    </div>
    <div class='user-info-user-name'>
        <span class='show-user-name'><%= @user.name %></span><br />
        
        <div class='user-info-follow-setting-wrapper'>

            <div class='user-info-follow-<%= @user.id %>'>
                <%= render 'userInfoFollow',user:@user %>
            </div>

            <div class='user-info-message'>
                <% if @user == current_end_user %>
                    <span class='users-show-logout-button'><i class="fa-solid fa-gear"></i></span>
                <% else %>
                    <% unless @user.id == current_end_user.id %>    
                        <% if @haveRoom == true %>    
                            <%= link_to "メッセージ",room_path(@roomId),class:'make-room-message' %>
                        <% else %>
                            <%= form_with model: @room do |f|%>   
                                <%= fields_for @RoomUser do |r| %>  
                                    <%= r.hidden_field :end_user_id, value: @user.id %>  
                                <% end %>
                                <%= f.submit "メッセージ",class:'make-room' %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>

            <% if @user == current_end_user %>
                <span class='user-plus-button-wrapper'>
                    <span class='user-plus'><span class='user-plus-button'><i class="fa-solid fa-angle-down user-plus-button-content"></i></span></span>
                    <span class='user-minus'><span class='user-minus-button'><i class="fa-solid fa-angle-up user-plus-button-content"></i></span></span>
                </span>
            <% end %>

            <% unless @user == current_end_user %>
                <span class='other-user-modal-button'><i class="fa-solid fa-ellipsis"></i></span>
            <% end %>

        </div>
    </div>           
</div>

<div class='users-info-wrapper'>
    <%= render 'year',user:@user,number2:@number2,number4:@number4,number5:@number5 %>
    <ul class='users-info'>
        <% unless @user.year === '' %>
            <li class='li-user-year'><%= @user.year %></li>
        <% end %>
        <li class='li-user-dep'><%= @user.dep %></li>
        <li class='li-user-cor'><%= @user.cor %></li>
    </ul>
    <div class='user-introduction'><%= simple_format(@user.introduction) %></div>
</div> 




<% #モーダル %>

<div class='index-modal-bg'></div>

<div class='index-modal'>
    <div class='modal-content'>
        <div class='modal-logout'>
            <%= link_to 'ログアウト',destroy_end_user_session_path,method: :delete,class:'logout-button-font' %>
        </div>
        <div class='index-modal-close-button'>キャンセル</div>
    </div>
</div>


<div class='end-users-index-modal'>
    <div class='modal-content'>
        <div class='end-user-report'>
            <span class='end-user-report-button'>報告する</span>
        </div>
        <div class='index-modal-close-button'>キャンセル</div>
    </div>
</div>


<div class='report-reason-modal'>
    <div class='modal-content'>
        <span>報告する理由</span>
        <div>投稿内容が不適切</div>
        <div>メッセージによる嫌がらせ</div>
        <div>投稿へのコメントが不適切</div>
        <div class='index-modal-close-button'>キャンセル</div>
    </div>
</div>


<script>
    $('.users-show-logout-button')
        .on('click',function(){
            $('.index-modal,.index-modal-bg').fadeIn();
            $("body").addClass("no_scroll");
        });
    $('.index-modal-bg,.index-modal-close-button')
        .on('click',function(){
            $("body").removeClass("no_scroll");
            $('.index-modal,.index-modal-bg').fadeOut();
        });
</script>

<script>
    $('.other-user-modal-button')
        .on('click',funciton(){
            $('.end-users-index-modal,.index-modal-bg').fadeIn()
            $("body").addClass("no_scroll");
        });
</script>

