<div class='container'>
    <div class='col-md-10 users-show'>
        <div class='users-show-top'>
            <%= render 'userInfo' %>
        </div>
            
        <div class='count-follower-following'>
            <span class='following-page-kakomon-count'>
                <%= link_to end_user_path(@user),class:'user-show-top-following' do %>
                    過去問<%= @user.kakomons.count %>件
                <% end %>
            </span>
            <span class='class-count'>
                <%= link_to "/end_users/#{@user.id}/boards",class:'user-show-top-show' do %>
                    講義評価<%= @user.boards.count %>件
                <% end %>
            </span>
            <span class='following-page-followings'><%= link_to 'フォロー中',followings_end_user_path,class:'user-show-top' %></span>
            <span class='following-page-followers'><%= link_to 'フォロワー',followers_end_user_path,class:'user-show-top-following' %></span>
        </div>

        <% if @user.followings.count === 0 %>
            <% if @user === current_end_user %>
                <p class='no-follower'>ユーザーをフォローするとここに表示されます<p>
            <% else %>
                <p class='no-follower'>@<%= @user.name %>がユーザーをフォローするとここに表示されます</p>
            <% end %>
        <% else %>
            <table class='user-index-table'>
                <tbody>
                    <% @users.each do |user| %>
                        <% if user === current_end_user %>
                            <tr>
                                <td class='td-profile-image' height='50'> 
                                <%= link_to end_user_path(user) do %>
                                    <%= image_tag user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                                <% end %>
                                </td>
                                <td class='td-user-name'><span class='user-name-height'><%= user.name %></span></td>
                            </tr>
                        <% end %>
                        <tr>
                            <% unless user === current_end_user %>
                                <td class='td-profile-image' height='50'> 
                                    <%= link_to end_user_path(user) do %>
                                        <%= image_tag user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                                    <% end %>
                                </td>
                                <td class='td-user-name'><span class='user-name-height'><%= user.name %></span></td>
                                <td class='td-follow'>
                                    <% if user.followed_by?(current_end_user) %>
                                        <%= link_to'フォロー中',end_user_relationships_path(user),method: :delete,class:'user-followed' %>
                                    <% else %>
                                        <% unless user == current_end_user %>
                                            <%= link_to 'フォローする',end_user_relationships_path(user),method: :post,class:'user-following' %>
                                        <% end %>
                                    <% end %>
                                </td>
                            <% end %>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>    
    </div>
</div>