<div class='container'>
    <div class='row'>
        <div class='col-md-7 end-users-index'>
            <div class='end-users-index-top'>おすすめ</div>
            <div class='end-users-index-content'>
                <% @users.each do |user| %>
                    <% unless user == current_end_user %>
                        <div class='end-users-index-image'>
                            <%= link_to end_user_path(user) do %>
                                <%= image_tag user.get_profile_image ,class:'boards-reccommendation-image-size'%>
                            <% end %>
                        </div>
                        <div class='end-users-index-name'>
                            <%= link_to end_user_path(user),class:'end-users-index-name-link' do %>
                                <strong><%= user.name %></strong><br />
                            <% end %>
                            <span class='end-users-index-dep'><%= user.dep %>&nbsp;&nbsp;<%= user.cor %></span>
                        </div>
                        <div class='end-users-index-follow'>
                            <% if user.followed_by?(current_end_user) %>
                                <%= link_to'フォロー中',end_user_relationships_path(user),method: :delete,class:'user-followed-show' %>
                            <% else %>
                                <% unless user == current_end_user %>
                                    <%= link_to 'フォローする',end_user_relationships_path(user),method: :post,class:'user-following-show' %>
                                <% end %>
                            <% end %>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>