<div class='container'>
    <div class='row'>
        <div class='col-md-10 offset-1 kakomon-reports-index'>
            <div class='user-reports-top-wrapper'>
                <div class='user-reports-top'>
                    <span class='post-index'>報告一覧</span>
                    <span class='kakomon-reports'>
                        <%= link_to admin_kakomonreports_path,class:'kakomon-report-link' do %>
                            <%= render 'admin/kakomonreports/kakomonReportCount',kakomons:@kakomons %>
                        <% end %>
                    </span>
                    <span class='board-reports'>
                        <%= link_to admin_boardreports_path,class:'board-report-link' do %>
                            <%= render 'admin/boardreports/boardReportCount',boards:@boards %>
                        <% end %>
                    </span>
                    <span class='user-reports-at'>
                        <%= render 'userReportCount' ,users:@users %>
                    </span>
                </div>
            </div>

            <div class='userreports-index-wrapper'>
                <% @users.each do |user| %>
                    <% reportedUser = EndUser.find(user.user_id) %>
                    <div class='userreports-index'>
                        <div>
                            <span><%= user.created_at.strftime("%-Y年%-m月%-d日") %></span>
                            <span class='user-status-<%= user.id %>'>
                                <%= render 'userStatus' ,user:user %>
                            </span>
                        </div>
                        <div class='mt-2'>
                            <%= link_to admin_end_user_path(user.end_user),class:'end-user-name-link' do %>
                                <%= image_tag user.end_user.get_profile_image ,class:'reported-user-image-size' %>
                                <span class='reportor-name'><%= user.end_user.name %></span>により報告
                            <% end %>
                        </div>
                        <div class='mt-2'>
                            <%= link_to admin_end_user_path(reportedUser),class:'end-user-name-link' do %>
                                <%= image_tag reportedUser.get_profile_image ,class:'reported-user-image-size' %>
                                <span class='reported-name'><%= reportedUser.name %></span> → <%= user.report_i18n %>
                            <% end %>
                        </div> 
                    </div>
                <% end %>
            </div>
            <div class='pagenate'>
                <%= paginate @users %>
            </div>
        </div>
    </div>
</div>  

