<div class='container'>
    <div class='row'>
        <div class='col-md-10 offset-1 kakomon-reports-index'>
            <div class='user-reports-top'>
                <span class='kakomon-reports-at'>
                    <%= link_to admin_kakomonreports_path,class:'kakomon-report-link' do %>
                        <%= render 'admin/kakomonreports/kakomonReportCount',kakomons:@kakomons %>
                    <% end %>
                </span>
                <span class='board-reports'>
                    <%= link_to admin_boardreports_path,class:'board-report-link' do %>
                        <%= render 'admin/boardreports/boardReportCount',boards:@boards %>
                    <% end %>
                </span>
                <span class='user-reports'>
                    <%= link_to admin_userreports_path,class:'user-report-link' do %>
                        <%= render 'admin/userreports/userReportCount' ,users:@users %>
                    <% end %>
                </span>
            </div>

            <div class='board-reports-index-wrapper'>
                <% @kakomons.each do |kakomon| %>
                    <% reportkakomon = Kakomon.find(kakomon.kakomon_id) %>
                    <div class='boardreports-index-wrapper'>
                        <div class='kakomon-report-wrapper'>
                            <div>
                                <span><%= kakomon.created_at.strftime("%-Y年%-m月%-d日") %></span>
                                <span class='kakomon-report-<%= kakomon.id %>'>
                                    <%= render 'admin/kakomonreports/kakomonReport',kakomon:kakomon %>
                                </span>
                                <span>
                                    <%= link_to'削除する',admin_kakomon_path(reportkakomon),class:'btn btn-danger report-board-delete-button',method: :delete,data:{confirm:'本当に削除しますか？'} %>
                                </span>
                            </div>
                            <div class='mt-2'>  
                                <%= image_tag kakomon.end_user.get_profile_image ,class:'reported-user-image-size' %>
                                <span class='reportor-name'><%= kakomon.end_user.name %></span>により報告
                            </div>
                            <div class='mt-2'>
                                <%= image_tag reportkakomon.end_user.get_profile_image ,class:'reported-user-image-size' %>
                                <span class='reportor-name'><%= reportkakomon.end_user.name %></span>の<%= kakomon.report_i18n %>
                            </div>
                            <div class='mt-2'>
                                <div class='article-body-kakomons-show'> 
                                    <div class="swiper-container kakomons-show-swiper-container">
                                        <div class="swiper-wrapper kakomons-show-swiper-wrapper">
                                            <% reportkakomon.images.each do |image|%>
                                                <div class="swiper-slide">
                                                    <%= image_tag image,class:'kakomons-index-image-size' %>
                                                </div>
                                            <% end %>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class='kakomon-report-comment-wrapper'>
                            <%= render 'kakomonReportComment' ,comments:@comments ,kakomon:kakomon %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>  