<%= form_with url: search_kakomons_path,method: :get, local: true do |f| %>
    <%= f.text_field :sub,class:'search',placeholder:'科目名' %>
    <% if current_user.number.slice(3)==='2' && current_user.number.slice(4) === '2' %>
      <span class='no-change-search'>検索する</span>
      <%= f.submit '検索する',class:'search-submit' %>
    <% elsif current_user.number.slice(1) == 'C' && current_user.number.slice(2) == 'C' && current_user.number.slice(3) == 'C' && current_user.number.slice(4) == 'C' && current_user.number.slice(5) == 'C' && current_user.number.slice(6) == 'C' && current_user.number.slice(7) == 'C' %>
      <span class='no-change-search'>検索する</span>  
      <%= f.submit '検索する',class:'search-submit' %>
    <% else %>
      <% if current_user.kakomons.count === 0 %>
        <span class='no-kakomon-search-submit'>検索する</span><br />
        <span class='no-kakomon-message'></span>
      <% else %>
        <span class='no-change-search'>検索する</span>
        <%= f.submit '検索する',class:'search-submit' %>
      <% end %>
    <% end %>
<% end %>