<div class='container'>
  <div class="depSelector">
    <h3>過去問一覧</h3>
    <%= render 'search' %>
  </div>

  <div class='col-md-10 pt-3 kakomon-index'>
    <% @kakomons.each do |kakomon| %>
      <div class='index-kakomon-content'>
        <div class='article-top'>
          <% #アイコン、名前 %>
          <%= link_to user_path(kakomon.user),class:'index-profile-image-link' do %>
            <%= image_tag kakomon.user.get_profile_image,size:'30x30',class:'index-profile-image' %>
          <% end %>
          <span class='kakomon-user-name-top'><%= kakomon.user.name %></span>
        </div>
        <% # 画像 %>
        <div class='article-body'> 
          <%= link_to kakomon_path(kakomon),class:'image-link' do %>
            <%= image_tag kakomon.image1,class:'kakomons-index-image-size' %>
          <% end %>
        </div>
        <% #投稿の下部分 %>
        <div class='article-bottom'>
          科目 : <%= kakomon.sub %><br>
          年度 : <%= kakomon.year %><br>
          教授 : <%= kakomon.prof %><br>
          <span class='kakomon-date'><%= kakomon.created_at.strftime('%Y/%m/%d') %></span>
        </div>
        
      </div>
    <% end %>
  </div>
  <div class='pagenate'>
    <%= paginate @kakomons %>
  </div>
</div>