<div class='container'>
  <div class='col-mg-3 new-container'>
    <div class='kakomon-new-content'>
    <h2>新規投稿</h2>
    <% if @kakomon.errors.any? %>
      <div class="error">
        <h2><%= pluralize(@kakomon.errors.count, "error") %> prohibited this book from being saved:</h2>
        <% @kakomon.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    <% end %>
      <%= form_with model:@kakomon,class:'kakomon-new' do |f| %>
        <ul>
          <li class='mt-2'>画像を選択  :   <%= f.file_field :image, accept: "image/*" %></li>
          <li class='mt-2'>
            年度  :
              <%= f.select :year, [["2010", "2010"],["2011", "2011"],["2012", "2012"],["2013", "2013"],
              ["2014", "2014"],["2015", "2015"],["2016", "2016"],["2017", "2017"],["2018", "2018"],
              ["2019", "2019"],["2020", "2020"],["2021", "2021"],["2022", "2022"]], {include_blank: "選択して下さい"},{class:'year'} %>
          </li>
          <li class='mt-2'>科目 :  <%= f.text_field :sub,class:'prof-new' %></li>
          <li class='mt-2'>教授 :  <%= f.text_field :prof,class:'prof-new' %></li>
          <li class='mt-2'>コメント(任意)<br><%= f.text_area :comment,class:'comment-new' %></li>
        </ul>
        <%= f.submit '投稿',class:'btn btn-light kakomon-submit' %>
      <% end %>
    </div>
  </div>
</div>
