<div class='container'>
  <div class="depSelector">
    <h2>過去問一覧</h2>
    <%= form_with url: search_kakomons_path,method: :get, local: true do |f| %>
      <%= f.text_field :sub,class:'search mb-2 mr-2',placeholder:'科目名' %>
      <%= f.submit '検索する',class:'search-submit' %>
    <% end %>
  </div>

  <% #モーダルbg %>
  <div class='index-modal-bg'></div>

  <div class='col-md-10 pt-3 kakomon-index'>
    <% if @kakomons.count === 0 %>
      <div class='no-kakomon'>
        <p>該当の過去問はありません。</p>
      </div>
    <% else %>
      <% @kakomons.each do |kakomon| %>
        <div class='index-kakomon-content'>
          <div class='article-top'>
            <% #アイコン、名前 %>
            <%= image_tag kakomon.user.get_profile_image,size:'30x30',class:'index-profile-image' %>
            <span class='kakomon-user-name-top'><%= kakomon.user.name %></span>
            <span class='index-modal-show-button'><i class="fa-solid fa-bars"></i></span>
            <% #モーダル %>
            <div class='index-modal'>
              <div class='modal-content'>
                <div>報告する</div><br />
                <div><%= link_to '投稿へ移動',kakomon_path(kakomon) %></div><br />
                <div class='index-modal-close-button'>キャンセル</div>
              </div>
            </div>
          </div>
          <% # 画像 %>
          <div class='article-body'> 
              <%= image_tag kakomon.image,size:'434x580' %>
          </div>
          <% #投稿の下部分 %>
          <div class='article-bottom'>
            科目 : <%= kakomon.sub %><br>
            年度 : <%= kakomon.year %><br>
            学部 : <%= @dep %><br>
            学科 : <%= @cor %><br>
            教授 : <%= kakomon.prof %><br>
            <% unless kakomon.comment === '' %>
            <% end %>
            <% unless kakomon.comments.count === 0 %>
              <span class='comment-count'>コメント<%= kakomon.comments.count %>件をみる</span><br>
            <% end %>
            <span class='kakomon-date'><%= kakomon.created_at.strftime('%Y/%m/%d') %></span>
          </div>
          <div class='article-comment'>
            <%= form_with(model:[kakomon,@comment], local: true) do |f| %>
              <i class="fa-light fa-comment-lines"></i>
              <%= f.text_area :comment,placeholder:"コメントを追加...",class:'comment-form pt-2' %>
              <%= f.submit "投稿する",class:'btn btn-light comment-submit' %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>