<div class='container'>
  <div class='col-md-7 offset-md-1 pt-3'>
    <div id="depSelector" class='kakomon-index'>
      <h2>過去問一覧</h2>
      <p>学部 :  <select class="departments"></select></p>
      <p>学科 :  <select class="courses"></select></p>
      <%= form_with url: search_kakomons_path,method: :get, local: true do |f| %>
        科目 :  <%= f.text_field :sub,class:'search mb-3 mr-2' %>
        <%= f.submit '検索する',class:'search-submit' %>
      <% end %>
    </div>

    <% @kakomons.each do |kakomon| %>
      <article class='kakomon-content'>
        <div class='article-top'>
          <%= image_tag kakomon.user.get_profile_image,size:'30x30',class:'index-profile-image' %>
          <%= kakomon.user.name %>
        </div>
        <div class='article-body'>
        </div>
        <div class='article-bottom'>
          科目 : <%= kakomon.sub %><br>
          年度 : <%= kakomon.year %><br>
          学部 : <br>
          学科 : <br>
          教授 : <%= kakomon.prof %><br>
          <% unless kakomon.comment === '' %>  <!--ここをコメントがあるときだけ表示するっていう書き方にしたいAWSだからできないのかも-->
            <span class='kakomon-user-name'><%= kakomon.user.name %></span><%= kakomon.comment %><br>
          <% end %>
          <% unless kakomon.comments.count === 0 %>
            <span class='comment-count'>コメント<%= kakomon.comments.count %>件をみる</span><br>
          <% end %>
          <span class='kakomon-date'><%= kakomon.created_at.strftime('%Y/%m/%d') %></span>
        </div>
        <div class='article-comment'>
          <%= form_with(model:[kakomon,@comment], local: true) do |f| %>
            <i class="fa-light fa-comment-lines"></i>
            <%= f.text_area :comment,placeholder:"コメントを追加...",class:'comment-form pt-2' %>
            <%= f.submit "投稿する",class:'btn btn-light comment-submit' %>
          <% end %>
        </div>
      <article>
    <% end %>
    <div class='no-kakomon'>
      <%= @no_kakomon %>
    </div>
  </div>


  <div class='col-md-4'>

  </div>
</div>