<div class='conainer'>
    <div class='row'>
        <div class='col-md-10 kakomons-show'>
            <div class='kakomons-show-content'>
                <div class='kakomons-show-image'>
                    <% #モーダル %>
                    <div class='index-modal-bg'></div>
                    <div>
                        <div class='index-modal'>
                            <div class='modal-content'>
                                <% if @kakomon.user === current_user %>
                                    <div class='kakomon-delete'>
                                        <%= link_to'削除する',kakomon_path(@kakomon),class:'kakomon-delete-link',method: :delete %>
                                    </div>
                                <% else %>
                                    <div class='kakomon-report'>報告する</div>
                                <% end %>
                                <div class='index-modal-close-button'>キャンセル</div>
                            </div>
                        </div>
                    </div>
                    <%= image_tag @kakomon.image,class:'kakomon-image-size' %>
                </div>
                <div class='comment-wrapper'>
                    <% #アイコン、名前 %>   
                    <div class='kakomons-show-user-info'>
                        <%= link_to user_path(@kakomon.user),class:'kakomons-index-profile-image' do %>
                            <%= image_tag @kakomon.user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                        <% end %>
                        <span class='kakomons-show-user-name'><%= @kakomon.user.name %></span>
                        <% if @kakomon.user.followed_by?(current_user) %>
                            <%= link_to'フォロー中',user_relationships_path(@kakomon.user),method: :delete,class:'kakomons-show-user-following' %>
                        <% else %>
                            <% unless @kakomon.user == current_user %>
                                <%= link_to 'フォローする',user_relationships_path(@kakomon.user),method: :post,class:'kakomons-show-user-followed' %>
                            <% end %>
                        <% end %>
                        <span class='kakomons-show-top-button'><i class="fa-solid fa-bars"></i></span>
                    </div>
                    <% #コメント %>
                    <div class='comment-scroll'>
                        <% if @kakomon.comment === '' && @comments.count === 0 %>
                            <div class='no-comment'>コメントはありません。</div>
                        <% else %>
                            <div class='comment-index'>
                                <div class='kakomon-comment-content-top'>
                                    <div class='kakomon-comment-content'>
                                        <%= @kakomon.comment %>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <% @comments.each do |comment| %>
                                    <div class='other-user-comment'>
                                        <%= image_tag comment.user.get_profile_image,size:'30x30' %>
                                        <span class='comment-user-name'><%= comment.user.name %></span>
                                        <div class='other-user-comment-content'>
                                            <%= simple_format(comment.comment) %>
                                            <span class='kakomon-date'><%= comment.created_at.strftime('%Y/%m/%d') %></span>
                                            <% if comment.user === current_user %>
                                                <span class='delete-comment'><%= link_to '削除',kakomon_comment_path(comment.kakomon,comment),class:'delete-comment-link',method: :delete %></span>
                                            <% end %>
                                        </div>
                                    </div>
                                    <br />
                                <% end %>
                            </div>
                        <% end %>
                    </div>

                    <div class='kakomons-show-comment-new'>
                        <%= form_with(model:[@kakomon,@comment], local: true) do |f| %>
                            <%= f.text_area :comment,placeholder:"コメントを追加...",class:'kakomons-show-text-area' %>
                            <%= f.submit "投稿する",class:'kakomons-show-comment-submit' %>
                        <% end %>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>