<% i = 0 %>
    <% len = @boards.length %>
    <div class='kakomon-index'>
        <% while i < len do %>
        <% @boards.each do |board| %>
            <div class='index-board-content'>
                <div class='article-top'>
                    <% #アイコン、名前 %>
                    <%= link_to end_user_path(board.end_user),class:'index-profile-image-link' do %>
                    <%= image_tag board.end_user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                    <% end %>
                    <span class='kakomon-user-name-top'><%= board.end_user.name %></span>
                    <span id='<%= i %>-top-button-1000' class='kakomons-index-top-button'><i class="fa-solid fa-ellipsis"></i></span>

                    <% #モーダル %>
                    <%= render 'modalIndex1000',board:board,i:i %>

                    <% #講義評価詳細 %>
                    <%= render 'modalShow1000',board:board,i:i %>

                </div>
                <div class='article-bottom-board'>
                    講義 : <%= board.sub %><br>
                    教授 : <%= board.prof %><br>
                    <span class='form1'>講義の面白さ</span><span class='star-rate1' id="star-rate1-<%= board.id %>-1000"></span><br />
                    <span class='form2'>教授の人柄</span><span class='star-rate2' id="star-rate2-<%= board.id %>-1000"></span><br />
                    <span class='form3'>単位の取りやすさ</span><span class='star-rate3' id="star-rate3-<%= board.id %>-1000"></span><br />
                    <span class='board-date'><br /><%= board.created_at.strftime('%Y/%m/%d') %>
                </div>
            </div>
            <script>
            $('#star-rate1-<%= board.id %>-1000').empty();
            $('#star-rate1-<%= board.id %>-1000').raty({
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                readOnly: true,
                score: <%= board.rate1 %>
            });
            </script>
            <script>
            $('#star-rate2-<%= board.id %>-1000').empty(); 
            $('#star-rate2-<%= board.id %>-1000').raty({
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                readOnly: true,
                score: <%= board.rate2 %>
            });
            </script>
            <script>
            $('#star-rate3-<%= board.id %>-1000').empty();
            $('#star-rate3-<%= board.id %>-1000').raty({
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                readOnly: true,
                score: <%= board.rate3 %>
            });
            </script>

            

            <script>
            $('.index-boards-show-link-button-1000-<%= i %>')
                .on('click',function(){
                var numberstr = '<%= i %>';
                var numberInd = Number(numberstr)
                $('.max-width-1000-boards-show').eq(numberInd).fadeIn();
                $('.index-modal-bg').fadeIn();
                });
            $('.index-modal-bg')
                .on('click',function(){
                $('.max-width-1000-boards-show').fadeOut();
                });
            </script>



            <% i += 1 %>
        <% end %>
        <% end %>
    </div>
    
    <div class='pagenate'>
        <%= paginate @boards %>
    </div>
</div>