
<div class='index-modal-1000'>
    <div class='modal-content'>
        <% if board.end_user === current_end_user %>
            <div class='kakomon-delete'>
                <%= link_to'削除する',board_path(board),class:'kakomon-delete-link',method: :delete %><br />
            </div>
        <% else %>
            <%= form_with(model:[board,@report],local:true,url:board_boardreports_path(board)) do |f| %>
                <%= f.hidden_field :id, :value => board.id %>
                <div class='kakomon-report-<%= i %> kakomon-report'>報告する</div>
            <% end %>
        <% end %>
    <div class='index-modal-close-button'>キャンセル</div>
    </div>
</div>

<div class='report-reason-modal'>
    <div class='modal-content'>
        <%= form_with(model:[board,@report],url:board_boardreports_path(board),local:false) do |f| %>
            <div class='report-reason-content'>
                <span class='user-radio-button'><%= f.radio_button :report, Boardreport.reports.key(0) %></span>スパムである
            </div>
            <div class='report-reason-content'>
                <span class='user-radio-button'><%= f.radio_button :report, Boardreport.reports.key(1) %></span>いじめまたは嫌がらせ
            </div>
            <div class='report-reason-content'>
                <span class='user-radio-button'><%= f.radio_button :report, Boardreport.reports.key(2) %></span>虚偽の情報
            </div>
            <div class='report-reason-content'>
                <span class='user-radio-button'><%= f.radio_button :report, Boardreport.reports.key(3) %></span>単に気に入らない
            </div>
            <div class='report-reason-content'>
                <%= f.submit'報告する',class:'end-user-report-button-last' %>
            </div>
        <% end %>
    </div>
</div>

<script>
    $('#<%= i %>-top-button-1000').on('click',function(){
        var numberstr = '<%= i %>';
        var numberInd = Number(numberstr)
        $('.index-modal-1000').eq(numberInd).fadeIn();
        $('.index-modal-bg').fadeIn();
        $("body").addClass("no_scroll");
    });
    $('.index-modal-bg,.index-modal-close-button').on('click',function(){
        $("body").removeClass("no_scroll");
        $('.index-modal-1000,.index-modal-bg').fadeOut();
    });
    $('.index-modal-bg').on('click',function(){
        $("body").removeClass("no_scroll");
        $('.index-modal-bg,.report-reason-modal').fadeOut();
        $('.index-modal').fadeOut(3);
    });
    $('.index-modal-close-button').on('click',function(){
        $('.index-modal-bg,.index-modal').fadeOut();
    });
    $('.modal-show-close-button').on('click',function(){
        $('.kakomons-show,.index-modal-bg').fadeOut();
        $('.index-modal').fadeOut(3);
    });
    $('.kakomon-report-<%= i %>').on('click',function() {
        var numberstr = '<%= i %>';
        var numberInd = Number(numberstr)
        $('.report-reason-modal').eq(numberInd).fadeIn();
        $('.index-modal').fadeOut();
    });
</script>