<div class='search-sub-wrapper'>
  <% if end_user_signed_in? %>
    <% if current_end_user.number.slice(3)==='2' && current_end_user.number.slice(4) === '2' %>
      <%= form_with url: searchSub_boards_path,method: :get do |f| %>
        <%= f.text_field :sub,class:'board-search',placeholder:'講義名' %>
        <span class='no-change-search'>検索する</span>
        <%= f.submit '検索する',class:'search-submit' %>
      <% end %>
    <% else %>
      <% if current_end_user.boards.count === 0 %>
        <div class='text-area-submit-button-wrapper'>
          <div class='sub-demo-text-area'><span class='sub-demo-text-area-content'>講義名</span></div>
          <div class='no-board-search-submit'>検索する</div><br />
        </div>
        <span class='no-kakomon-message'></span>
      <% else %>
        <%= form_with url: searchSub_boards_path,method: :get,local:true do |f| %>
          <%= f.text_field :sub,class:'board-search-sub',placeholder:'講義名' %>
          <span class='no-change-search'>検索する</span>
          <%= f.submit '検索する',class:'sub-search-submit-not-blank' %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div class='text-area-submit-button-wrapper'>
      <div class='sub-demo-text-area-no-login'><span class='sub-demo-text-area-content-no-login'>講義名</span></div>
      <div class='no-kakomon-search-submit-no-login'>検索する</div><br />
    </div>
    <span class='no-kakomon-message'></span>
  <% end %>
</div>




<div class='search-prof-wrapper'>
  <% if end_user_signed_in? %>
    <% if current_end_user.number.slice(3)==='2' && current_end_user.number.slice(4) === '2' %>
      <%= form_with url: searchProf_boards_path,method: :get do |f| %>
        <%= f.text_field :prof,class:'board-search',placeholder:'教授名' %>
        <span class='no-change-search'>検索する</span>
        <%= f.submit '検索する',class:'search-submit' %>
      <% end %>
    <% else %>
      <% if current_end_user.boards.count === 0 %>
        <div class='text-area-submit-button-wrapper'>
          <div class='sub-demo-text-area'><span class='sub-demo-text-area-content'>講義名</span></div>
          <div class='no-board-search-submit'>検索する</div><br />
        </div>
        <span class='no-kakomon-message'></span>
      <% else %>
        <%= form_with url: searchProf_boards_path,method: :get,local:true do |f| %>
          <%= f.text_field :prof,class:'board-search-prof',placeholder:'教授名' %>
          <span class='no-change-search'>検索する</span>
          <%= f.submit '検索する',class:'prof-search-submit-not-blank' %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div class='text-area-submit-button-wrapper'>
      <div class='sub-demo-text-area-no-login'><span class='sub-demo-text-area-content-no-login'>教授名</span></div>
      <div class='no-kakomon-search-submit-no-login'>検索する</div><br />
    </div>
    <span class='no-kakomon-message'></span>
  <% end %>
</div>


<script>
  $('.board-search-sub')
    .on('input',function(){
      let text = $(this).val();
      if (text == ''){
        $('.no-change-search').css('display','inline');
        $('.sub-search-submit-not-blank').css('display','none')
      }else {
        $('.no-change-search').css('display','none');
        $('.sub-search-submit-not-blank').css('display','inline')
      }  
    });
</script>
<script>
  $('.board-search-prof')
    .on('input',function(){
      let text = $(this).val();
      if (text == ''){
        $('.no-change-search').css('display','inline');
        $('.prof-search-submit-not-blank').css('display','none')
      }else {
        $('.no-change-search').css('display','none');
        $('.prof-search-submit-not-blank').css('display','inline')
      }  
    });
</script>