<div class='boards-index-wrapper'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-7 offset-1 board-index'>
        <div class="board-top">
          <span class='sub-search'>講義名検索</span>
          <span class='prof-search'>教授名検索</span>
          <%= render 'search' %>
        </div>
        <div class='index-modal-bg'></div>

        <div class='boardIndex'>
          <%= render 'boardIndex',boards:@boards %>
        </div>

      <div class='col-md-4 fixed-area'>
        <%= render 'recommendation' %>
      </div>
    </div>
  </div>
</div>



<div class='board-index-wrapper-1000'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 board-index-1000'>
        <div class="board-top">
          <span class='sub-search'>講義名検索</span>
          <span class='prof-search'>教授名検索</span>
          <%= render 'search' %>
        </div>
        <div class='index-modal-bg'></div>
        <div class='index-modal-bg-1000'></div>

        <div class='boardIndex1000'>
          <%= render 'boardIndex1000',board:@board %>
        </div>

    </div>
  </div>
</div>

