<% #モーダル %>
<div class='index-modal-bg'></div>
<%= render 'showModal',board:@board %>

<div class='kakomons-show-wrapper'>
    <div class='conainer'>
        <div class='row'>
            <div class='col-md-9 kakomon-show'>
                <div class='board-show-wrapper'>
                    <div class='back-link-wrapper-board'><%= link_to '<',:back,class:'back-link' %></div>
                    <div class='boars-show-user-info'>
                        <%= link_to end_user_path(@board.end_user),class:'index-profile-image-link' do %>
                            <%= image_tag @board.end_user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                        <% end %>
                        <span class='kakomons-show-user-name'><%= @board.end_user.name %></span>
                        <span class='kakomons-show-top-button' id='top-button'><i class="fa-solid fa-ellipsis"></i></span>
                    </div>
                    <div class='board-show'>
                        講義 : <%= @board.sub %><br>
                        教授 : <%= @board.prof %><br>
                        <span class='form1'>講義の面白さ</span><span class='star-rate1' id="star-rate1-<%= @board.id %>"></span><br />
                        <span class='form2'>教授の人柄</span><span class='star-rate2' id="star-rate2-<%= @board.id %>"></span><br />
                        <span class='form3'>単位の取りやすさ</span><span class='star-rate3' id="star-rate3-<%= @board.id %>"></span><br />
                        <span class='board-show-date'><%= @board.created_at.strftime('%Y/%m/%d') %></span>
                    </div>
                    <script>
                        $('#star-rate1-<%= @board.id %>').empty();
                        $('#star-rate1-<%= @board.id %>').raty({
                        size: 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        readOnly: true,
                        score: <%= @board.rate1 %>
                        });
                    </script>
                    <script>
                        $('#star-rate2-<%= @board.id %>').empty();
                        $('#star-rate2-<%= @board.id %>').raty({
                        size: 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        readOnly: true,
                        score: <%= @board.rate2 %>
                        });
                    </script>
                    <script>
                        $('#star-rate3-<%= @board.id %>').empty();
                        $('#star-rate3-<%= @board.id %>').raty({
                        size: 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        readOnly: true,
                        score: <%= @board.rate3 %>
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

