<div class='container'>
  <div class='row'>
    <div class='col-md-8 homes-top'>

      <% if end_user_signed_in? %>
        <div class='homes-top-content'>
          <p>ようこそ <span class='homes-top-aokako-font'>Aokako</span> へ！</p>
          <p><span class='homes-top-aokako-font'>Aokako</span>では<span class='share-kakomon'>過去問の共有</span>や<span class='share-class'>講義の評価</span>をすることができます！</p>
          <p>試験問題や、履修した講義の評価を投稿しましょう！</p>
          <p>また、他の学生の投稿を見て、試験対策や履修登録に役立ててください！</p>
          <p class='fotter'>お問合せ先  aokako2022@gmail.com<p>
        </div>
        <div class='homes-top-content-460'>
          <p>ようこそ <span class='homes-top-aokako-font'>Aokako</span> へ！</p>
          <p><span class='homes-top-aokako-font'>Aokako</span>では<span class='share-kakomon'>過去問の共有</span>や<span class='share-class'>講義の評価</span>をすることができます！</p>
          <p>試験問題や、履修した講義の評価を投稿しましょう！</p>
          <p>また、他の学生の投稿を見て、</p>
          <p>試験対策や履修登録に役立ててください！</p>
          <p class='fotter'>お問合せ先  aokako2022@gmail.com<p>
        </div>


      <% elsif admin_signed_in?   %>


        <div class='homes-top-content'>
          <p><span class='homes-top-aokako-font'>Aokako</span>&nbsp;管理者ページ</p>
          <p>
            <table border class='homes-top-table'> 
              <tr>
                <td>文学部</td>
                <td class='td-dep-count'><strong><%= @users1.count %></strong><span class='users-count'>人</span></td>
              </tr>
              <tr>
                <td>経済学部</td>
                <td class='td-dep-count'><strong><%= @users2.count %></strong><span class='users-count'>人</span></td>
              </tr>
              <tr>
                <td>法学部</td>
                <td class='td-dep-count'><strong><%= @users3.count %></strong><span class='users-count'>人</span></td>
              </tr>
              <tr>
                <td>経営学部</td>
                <td class='td-dep-count'><strong><%= @users4.count %></strong><span class='users-count'>人</span></td>
              </tr>
              <tr>
                <td>理工学部</td>
                <td class='td-dep-count'><strong><%= @users5.count %></strong><span class='users-count'>人</span></td>
              </tr>
              <tr>
                <td>国際政治経済学部</td>
                <td class='td-dep-count'><strong><%= @users6.count %></strong><span class='users-count'>人</span></td>
              </tr>
              <tr>
                <td>総合文化政策学部</td>
                <td class='td-dep-count'><strong><%= @users7.count %></strong><span class='users-count'>人</span></td>
              </tr>
              <tr>
                <td>社会情報学部</td>
                <td class='td-dep-count'><strong><%= @users8.count %></strong><span class='users-count'>人</span></td>
              </tr>
              <tr>
                <td>教育人間科学部</td>
                <td class='td-dep-count'><strong><%= @users9.count %></strong><span class='users-count'>人</span></td>
              </tr>
              <tr>
                <td>地球社会共生学部</td>
                <td class='td-dep-count'><strong><%= @users10.count %></strong><span class='users-count'>人</span></td>
              </tr>
              <tr>
                <td>コミュニティ人間科学部</td>
                <td class='td-dep-count'><strong><%= @users11.count %></strong><span class='users-count'>人</span></td>
              </tr>
            </table>
          </p>
          <p>
            <table border class='homes-top-table'>
              <tr>
                <th>1年</th>
                <th>2年</th>
                <th>3年</th>
                <th>4年</th>
                <th>卒業</th>
                <th>合計</th>
              </tr>
              <tr>
                <td><strong><%= @user1 %></strong><span class='users-count'>人</span></td>
                <td><strong><%= @user2 %></strong><span class='users-count'>人</span></td>
                <td><strong><%= @user3 %></strong><span class='users-count'>人</span></td>
                <td><strong><%= @user4 %></strong><span class='users-count'>人</span></td>
                <td><strong><%= @user5 %></strong><span class='users-count'>人</span></td>
                <td><strong><%= @users.length %></strong><span class='users-count'>人</span></td>
              </tr>
            <table>
          </p>
          <p>過去問の投稿数 :<span class='admin-kakomons-count'><%= @kakomons.length %></span>件</p>
          <p>講義評価の投稿数 :<span class='admin-boards-count'><%= @boards.length %></span>件</p>
        </div>


      <% else %>


        <div class='homes-top-content'>
          <p>ようこそ <span class='homes-top-aokako-font'>Aokako</span> へ！</p>
          <p><span class='homes-top-aokako-font'>Aokako</span>では<span class='share-kakomon'>過去問の共有</span>や<span class='share-class'>講義の評価</span>をすることができます！</p>
          <p>試験問題や、履修した講義の評価を投稿しましょう！</p>
          <p>また、他の学生の投稿を見て、試験対策や履修登録に役立ててください！</p>
          <p class='aokako-alert'>※青山学院大学の学生のみご利用になれます。</p>
          <p class='fotter'>お問合せ先  aokako2022@gmail.com<p>
        </div>
        <div class='homes-top-content-460'>
          <p>ようこそ <span class='homes-top-aokako-font'>Aokako</span> へ！</p>
          <p><span class='homes-top-aokako-font'>Aokako</span>では<span class='share-kakomon'>過去問の共有</span>や<span class='share-class'>講義の評価</span>をすることができます！</p>
          <p>試験問題や、履修した講義の評価を投稿しましょう！</p>
          <p>また、他の学生の投稿を見て、</p>
          <p>試験対策や履修登録に役立ててください！</p>
          <p class='aokako-alert'>※青山学院大学の学生のみご利用になれます。</p>
          <p class='fotter'>お問合せ先  aokako2022@gmail.com<p>
        </div>
      <% end %>
    </div>
  </div>
</div>