<% @notifications.each do |notification| %>
  <% visitor = notification.visitor %>
  <% visited = notification.visited %>

  <div class='notification-contents' %>
    <div class='notification-content-image'>
      <%= link_to user_path(visitor) do %>
        <%= image_tag visitor.get_profile_image,size:'50x50',class:'notification-profile-image-visitor' %>
      <% end %>
    </div>
    <div class='notification-content'>
      <%= link_to user_path(visitor),class:'visitor-name' do %>
        <strong><%= visitor.name %></strong>
      <% end %>
      <%= link_to 'が',user_path(visitor),class:'visitor-name' %>
      <% case notification.action %>
        <% when 'follow' then %>
          <%= link_to 'あなたをフォローしました',user_path(visitor),class:'visitor-name' %>
        <% when 'dm' then %>
          <%= link_to 'あなたにメッセージを送信しました',user_path(visitor),class:'visitor-name' %>
        <% when 'comment' then %>
          <% if visitor == current_user %>
            <%= link_to kakomon_path(notification.kakomon),class:'visitor-name' do %>
              <strong>自分の過去問</strong>
            <% end %>
            <%= link_to 'にコメントしました',kakomon_path(notification.kakomon),class:'visitor-name' %>        
          <% elsif notification.kakomon.user == current_user %>
            <%= link_to kakomon_path(notification.kakomon),class:'visitor-name' do %>
              <strong>あなたの過去問</strong>
            <% end %>
            <%= link_to 'にコメントしました',kakomon_path(notification.kakomon),class:'visitor-name' %>  
          <% else %>
            <%= link_to kakomon_path(notification.kakomon),class:'visitor-name' do %>
              <strong><%= notification.kakomon.user.name %>の過去問</strong>
            <% end %>
            <%= link_to 'にコメントしました',kakomon_path(notification.kakomon),class:'visitor-name' %>
          <% end %>
        <% when 'board_comment' then %>
          <% if visitor == current_user %>
            <%= link_to board_path(notification.board),class:'visitor-name' do %>
              <strong>自分の講義評価</strong>
            <% end %>
            <%= link_to 'にコメントしました',board_path(notification.board),class:'visitor-name' %>        
          <% elsif notification.board.user == current_user %>
            <%= link_to board_path(notification.board),class:'visitor-name' do %>
              <strong>あなたの講義評価</strong>
            <% end %>
            <%= link_to 'にコメントしました',board_path(notification.board),class:'visitor-name' %>  
          <% else %>
            <%= link_to board_path(notification.board),class:'visitor-name' do %>
              <strong><%= notification.board.user.name %>の講義評価</strong>
            <% end %>
            <%= link_to 'にコメントしました',board_path(notification.board),class:'visitor-name' %>
          <% end %>
      <% end %><br />
      <span class='notification-time-ago'><%= time_ago_in_words(notification.created_at).upcase %>前</span>
    </div>
    <div class='notification-content-follow'>
      <% if visitor.followed_by?(current_user) %>
        <%= link_to'フォロー中',user_relationships_path(visitor),method: :delete,class:'user-followed' %>
      <% else %>
        <% unless visitor == current_user %>
          <%= link_to 'フォローする',user_relationships_path(visitor),method: :post,class:'user-following' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <br />

<% end %>