<div class='flash-message'>
    <% if flash[:notice] %>
        <div class='alert alert-secondary'>
            <%= flash[:notice] %>
        </div>
    <% end %>
</div>

<div class='container'>
    <div class='col-md-10 users-show'>
        <div class='users-show-top'>
            <%= render 'userInfo' %>
        </div>
            
        <div class='count-follower-following'>
            <span class='follower-page-kakomon-count'>
                <%= link_to user_path(@user),class:'user-show-top-show' do %>
                    過去問<%= @user.kakomons.count %>件
                <% end %>
            </span>
            <span class='follower-page-class-count'>
                <%= link_to "/users/#{@user.id}/boards",class:'user-show-top' do %>
                    講義評価<%= @user.boards.count %>件
                <% end %>
            </span>
            <span class='span-following'><%= link_to 'フォロー中',followings_user_path,class:'user-show-top-show' %></span>
            <span class='span-follower'><%= link_to 'フォロワー',followers_user_path,class:'user-show-top-show' %></span>
        </div>

        <% if @user.boards.count === 0 %>
            <span class='no-follower'>投稿はありません</span>
        <% else %>
            <div class='col-md-10 kakomon-index'>
                <% @boards.each do |board| %>
                <div class='show-board-content'>
                    <div class='article-bottom'>
                        講義 : <%= board.sub %><br>
                        教授 : <%= board.prof %><br>
                        <span class='form1'>講義の面白さ</span><span class='star-rate1' id="star-rate1-<%= board.id %>"></span><br />
                        <span class='form2'>教授の人柄</span><span class='star-rate2' id="star-rate2-<%= board.id %>"></span><br />
                        <span class='form3'>単位の取りやすさ</span><span class='star-rate3' id="star-rate3-<%= board.id %>"></span>
                        <span class='board-comment'>
                            <%= board.comment[0..15] %>...</span><span class='continue-comment'><%= link_to '続きを読む',board_path(board),class:'continue-comment-link' %>                             
                        </span><br />
                        <span class='user-board-date'><%= board.created_at.strftime('%Y/%m/%d') %></span>
                    </div>
                </div>
            
                <script>
                    $('#star-rate1-<%= board.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    readOnly: true,
                    score: <%= board.rate1 %>
                    });
                </script>
                <script>
                    $('#star-rate2-<%= board.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    readOnly: true,
                    score: <%= board.rate2 %>
                    });
                </script>
                <script>
                    $('#star-rate3-<%= board.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    readOnly: true,
                    score: <%= board.rate3 %>
                    });
                </script>
            
                <% end %>
            </div>
        <% end %>
    </div>
</div>