<div class="container">
  <div class="row">
    <div class="col-mg-8 user-edit">
      <div class="user-info">
        <h3 class='user-edit-top'>プロフィールを編集</h3>
        <%= render 'depCor',user:@user,number2:@number2,number3:@number3 %>
        <%= render 'year',user:@user,number2:@number2,number4:@number4,number5:@number5 %>
        <%= form_with model:@user,local:true do |f| %>
          <p>プロフィール画像</p>          
          <label for="image">
            <span class="button">画像を変更</span><%= f.file_field :profile_image,accept: "image/*", id: "image" %>
          </label>
          <span id="file-name"></span>
          <p>ニックネーム</p>
          <%= f.text_field :name,class:'edit-user-name'%>
          <% unless @user === current_user %>
            <p>学生番号</p>
            <%= f.text_field :number,class:'edit-user-name'%>
          <% end %>
          <p>自己紹介(100文字以内)</p>
          <%= f.text_area :introduction,class:'edit-user-introduction' %>
          <br />
          <% if @user.errors.any? %>
            <div class="error">
              <% @user.errors.full_messages.each do |message| %>
                <li><span class='errors-content'><%= message %></span></li>
              <% end %>
            </div>
          <% end %>

          <p><%= f.submit'編集',class:'btn btn-light edit-user-submit'%></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

