<div class='container'>

    <div class='col-md-10 users-show'>
        <div class='users-show-top'>
            <table>
                <tr>
                    <td rowspan='4'><%= image_tag @user.get_profile_image,size:'150x150',class:'show-profile-image' %></td>
                </tr>
                <tr>
                    <td colspan='2' class='td-user-name '><span class='show-user-name'><%= @user.name %></span>
                    <%= link_to 'プロフィールを編集',edit_user_path(@user),class:'user-setting' %></td>
                </tr>
                <tr>
                    <td class='dep-width'>国際政治経済学部</td>
                    <td class='cor-width'>国際政治経済学科</td>
                </tr>
                <tr>
                    <td colspan='2' class='td-introduction'>
                        <%= simple_format(@user.introduction) %>
                    </td>
                </tr>
            </table>

            </div>
            
            
        <div class='count-follower-following'>
            <span class='follower-page-kakomon-count'>
                <%= link_to user_path(@user),class:'user-show-top-follower' do %>
                    投稿<%= @user.kakomons.count %>件
                <% end %>
            </span>
            <span class='follower-page-followings'><%= link_to 'フォロー中',followings_user_path,class:'user-show-top-follower' %></span>
            <span class='follower-page-followers'><%= link_to 'フォロワー',followers_user_path,class:'user-show-top' %></span>
        </div>
       
        <% if @user.followings.count === 0 %>
            <p class='no-kakomon'>ここにすべてのフォロワーが表示されます<p>
        <% else %>
            <table>
                <div class='following-table'>
                    <tbody>
                        <% @users.each do |user| %>
                            <tr>
                                <% unless user === current_user %>
                                    <td class='td-profile-image'> 
                                        <%= link_to user_path(user) do %>
                                            <%= image_tag user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                                        <% end %>
                                    </td>
                                    <td class='td-users-name'><span class='user-name-height'><%= user.name %></span></td>
                                    <td>投稿<%= user.kakomons.count %>件</td>
                                    <td class='td-follow'>
                                        <% if user.followed_by?(current_user) %>
                                            <%= link_to 'フォロー中',user_relationships_path(user),method: :delete,class:'user-followed',data:{confirm:'フォローを解除しますか？'} %>
                                        <% else %>
                                            <% unless user == current_user %>
                                                <%= link_to 'フォローする',user_relationships_path(user),method: :post,class:'user-following' %>
                                            <% end %>
                                        <% end %>
                                    </td>
                                <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </div>
            </table>
        <% end %>

  </div>
</div>
