<div class='container'>
    <div class='col-md-10 users-show'>
        <div class='users-show-top'>
        <table>
            <tr>
                <td rowspan='5'><%= image_tag @user.get_profile_image,size:'150x150',class:'show-profile-image' %></td>
            </tr>
            <tr>
                <td class='td-user-name'><span class='show-user-name'><%= @user.name %></span></td>
                <td>
                    <% if @user === current_user %>
                        <%= link_to 'プロフィールを編集',edit_user_path(@user),class:'user-setting' %>
                    <% else %>
                        <% unless @user.id == current_user.id %>    
                            <% if @haveRoom == true %>    
                                <%= link_to "メッセージを送信",room_path(@roomId),class:'make-room' %>
                                <% if current_user.number.slice(1) == 'C' && current_user.number.slice(2) == 'C' && current_user.number.slice(3) == 'C' && current_user.number.slice(4) == 'C' && current_user.number.slice(5) == 'C' && current_user.number.slice(6) == 'C' && current_user.number.slice(7) == 'C' %>
                                    <%= link_to 'BAN',edit_user_path(@user),class:'ban' %>
                                <% end %>
                            <% else %>
                                <%= form_with model: @room,local: true do |f|%>   
                                    <%= fields_for @RoomUser do |r| %>  
                                        <%= r.hidden_field :user_id, value: @user.id %>  
                                    <% end %>
                                    <%= f.submit "メッセージを送信",class:'make-room' %>
                                    <% if current_user.number.slice(1) == 'C' && current_user.number.slice(2) == 'C' && current_user.number.slice(3) == 'C' && current_user.number.slice(4) == 'C' && current_user.number.slice(5) == 'C' && current_user.number.slice(6) == 'C' && current_user.number.slice(7) == 'C' %>
                                        <%= link_to 'BAN',edit_user_path(@user),class:'ban' %>
                                    <% end %>
                                <% end %>
                                <% end %>
                        <% end %>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td class='dep-width' height='40'>
                <%= render 'depCor',user:@user,number2:@number2,number3:@number3,number4:@number4,number5:@number5,number6:@number6,number7:@number7,number8:@number8 %>
                    <%= render 'year',user:@user,number2:@number2,number4:@number4,number5:@number5 %>
                    <%= @user.year %><br /><%= @user.dep %><br /><%= @user.cor %>                                                
                </td>
                <td>
                    <% if @user === current_user %>
                        <%= link_to 'ログアウト',destroy_user_session_path,class:'user-setting',method: :delete %>
                    <% end %>
                </td>
            </tr>
            <% unless @number2 == 'C' && @number3 == 'C' && @number4 == 'C' && @number5 == 'C' && @number6 == 'C' && @number7 == 'C' && @number8 == 'C' %>
                    <tr>
                        <td>
                            <% if current_user.number.slice(1) == 'C' && current_user.number.slice(2) == 'C' && current_user.number.slice(3) == 'C' && current_user.number.slice(4) == 'C' && current_user.number.slice(5) == 'C' && current_user.number.slice(6) == 'C' && current_user.number.slice(7) == 'C' %>
                                <strong><%= @user.number %></strong>
                                <%= @user.cor_first %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            <tr>
                <td colspan='2' class='td-introduction' height='40'>
                    <%= simple_format(@user.introduction) %>
                </td>
            </tr>
        </table>


            </div>

            
            
        <div class='count-follower-following'>
            <span class='follower-page-kakomon-count'>
                <%= link_to user_path(@user),class:'user-show-top-follower' do %>
                    投稿<%= @user.kakomons.count %>件
                <% end %>
            </span>
            <span class='follower-page-followings'><%= link_to 'フォロー中',followings_user_path,class:'user-show-top-follower' %></span>
            <span class='follower-page-followers'><%= link_to 'フォロワー',followers_user_path,class:'user-show-top' %></span>
        </div>
       

        <% if @user.followers.count === 0 %>
            <% if @user === current_user %>
                <p class='no-kakomon'>ここにすべてのフォロワーが表示されます<p>
            <% else %>
                <p class='no-kakomon'>ここに@<%= @user.name %>のすべてのフォロワーが表示されます</p>
            <% end %>
        <% else %>
            <div class='following-table'>
                <table class='user-index-table'>
                    <tbody>
                        <% @users.each do |user| %>
                            <% if user === current_user %>
                                <tr>
                                    <td class='td-profile-image' height='50'> 
                                    <%= link_to user_path(user) do %>
                                        <%= image_tag user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                                    <% end %>
                                    </td>
                                    <td class='td-user-name'><span class='user-name-height'><%= user.name %></span></td>
                                </tr>
                            <% end %>
                            <tr>
                                <% unless user === current_user %>
                                    <td class='td-profile-image' height='50'> 
                                        <%= link_to user_path(user) do %>
                                            <%= image_tag user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                                        <% end %>
                                    </td>
                                    <td class='td-user-name'><span class='user-name-height'><%= user.name %></span></td>
                                    <td class='td-follow'>
                                        <% if user.followed_by?(current_user) %>
                                            <%= link_to'フォロー中',user_relationships_path(user),method: :delete,class:'user-followed' %>
                                        <% else %>
                                            <% unless user == current_user %>
                                                <%= link_to 'フォローする',user_relationships_path(user),method: :post,class:'user-following' %>
                                            <% end %>
                                        <% end %>
                                    </td>
                                <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>

  </div>
</div>
