<div class='container'>

    <div class='col-md-10 users-show'>
        <div class='users-show-top'>
            <table>
                <tr>
                    <td rowspan='5'><%= image_tag @user.get_profile_image,size:'150x150',class:'show-profile-image' %></td>
                </tr>
                <tr>
                    <td class='td-user-name'><span class='show-user-name'><%= @user.name %></span></td>
                    <td>
                        <% if @user === current_user %>
                            <%= link_to 'プロフィールを編集',edit_user_path(@user),class:'user-setting' %>
                        <% else %>
                                <% unless @user.id == current_user.id %>    
                                    <% if @haveRoom == true %>    
                                        <%= link_to "メッセージを送信",room_path(@roomId),class:'make-room' %>
                                    <% else %>
                                        <%= form_with model: @room,local: true do |f|%>   
                                            <%= fields_for @RoomUser do |r| %>  
                                                <%= r.hidden_field :user_id, value: @user.id %>  
                                            <% end %>
                                            <%= f.submit "メッセージを送信",class:'make-room' %>
                                        <% end %>
                                    <% end %>
                                <% end %>
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td class='dep-width' height='40'>国際政治経済学部</td>
                    <td class='cor-width'>国際政治経済学科</td>
                </tr>
                <tr>
                    <td colspan='2' class='td-introduction' height='40'>
                        <%= simple_format(@user.introduction) %>
                    </td>
                </tr>
            </table>
        </div>
            
        <div class='count-follower-following'>
            <span class='following-page-kakomon-count'>
                <%= link_to user_path(@user),class:'user-show-top-following' do %>
                    投稿<%= @user.kakomons.count %>件
                <% end %>
            </span>
            <span class='following-page-followings'><%= link_to 'フォロー中',followings_user_path,class:'user-show-top' %></span>
            <span class='following-page-followers'><%= link_to 'フォロワー',followers_user_path,class:'user-show-top-following' %></span>
        </div>

        <% if @user.followings.count === 0 %>
            <p class='no-kakomon'>ユーザーをフォローするとここに表示されます<p>
        <% else %>
            <div class='following-table'>
                <table class='user-index-table'>
                    <tbody>
                        <% @users.each do |user| %>
                            <tr>
                            <% unless user === current_user %>
                                <td class='td-profile-image' height='50'> 
                                <%= link_to user_path(user) do %>
                                    <%= image_tag user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                                <% end %>
                                </td>
                                <td class='td-user-name'><span class='user-name-height'><%= user.name %></span></td>
                                <td>投稿<%= user.kakomons.count %>件</td>
                                <td class='td-follow'>
                                <% if user.followed_by?(current_user) %>
                                    <%= link_to 'フォロー中',user_relationships_path(user),method: :delete,class:'user-followed',data:{confirm:'フォローを解除しますか？'} %>
                                <% else %>
                                    <% unless user == current_user %>
                                    <%= link_to 'フォローする',user_relationships_path(user),method: :post,class:'user-following' %>
                                    <% end %>
                                <% end %>
                                </td>
                            <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>    
    </div>
</div>
