<div class='container'>
  <div class='index-modal-bg'></div>
  <div class='col-md-8 user-index'>
    <div class="dep-select">
      <h3>ユーザー一覧</h3>
      <%= render 'search' %>
    </div>

    <% i = 0 %>
    <% len = @users.length %>
    
    <table class='user-index-table'>
      <tbody>
        <tr>
          <td class='td-profile-image' height='50'> 
            <%= link_to user_path(current_user) do %>
              <%= image_tag current_user.get_profile_image,size:'30x30',class:'index-profile-image' %>
            <% end %>
          </td>
          <td class='td-user-name'>
            <span class='user-name-height'>
              <%= link_to user_path(current_user),class:'td-user-name-link' do %>
                <%= current_user.name %>
              <% end %>
            </span>
          </td>
        </tr>
        <% while i < len do %>
          <% @users.each do |user| %>
            <% unless user === current_user %>
              <% unless user.number.slice(1) == 'C' && user.number.slice(2) == 'C' && user.number.slice(3) == 'C' && user.number.slice(4) == 'C' && user.number.slice(5) == 'C' && user.number.slice(6) == 'C' && user.number.slice(7) == 'C' %>
                <tr>
                  <td class='td-profile-image' height='50'> 
                    <%= link_to user_path(user) do %>
                      <%= image_tag user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                    <% end %>
                  </td>
                  <td class='td-user-name'>
                    <span class='user-name-height'>
                    <%= link_to user_path(user),class:'td-user-name-link' do %>
                      <%= user.name %>
                    <% end %>
                    </span>
                  </td>
                  <td class='td-follow'>
                    <% unless user === current_user %>
                      <% if user.followed_by?(current_user) %>
                        <span id='<%= i %>' class='user-followed'>フォロー中</span>
                        <div class='user-index-modal'>
                          @<%= user.name %>のフォローを解除しますか？<br />
                          フォロー解除<br />
                          キャンセル<br />
                        </div>
                      <% else %>
                        <% unless user == current_user %>
                          <%= link_to 'フォローする',user_relationships_path(user),method: :post,class:'user-following' %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
            <script>
              $('#<%= i %>')
                .on('click',function(){
                  var numberstr = '<%= i %>';
                  var numberInd = Number(numberstr);
                  $('.user-index-modal').eq(numberInd).fadeIn();
                  $('.index-modal-bg').fadeIn();
                  $("body").addClass("no_scroll");
                });

              $('.index-modal-bg,.index-modal-close-button')
                .on('click',function(){
                  $("body").removeClass("no_scroll");
                  $('.user-index-modal,.index-modal-bg').fadeOut();
                });
            </script>
            <% i += 1 %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class='pagenate'>
      <%= paginate @users %>
    </div>
  </div>
</div>