<div class='container'>
  <div class='col-md-8 user-index'>
    <div class="dep-select">
      <h3>ユーザー一覧</h3>
      <%= render 'search' %>
    </div>
    
    <table class='user-index-table'>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class='td-profile-image' height='50'> 
              <%= link_to user_path(user) do %>
                <%= image_tag user.get_profile_image,size:'30x30',class:'index-profile-image' %>
              <% end %>
            </td>
            <td class='td-user-name'><span class='user-name-height'><%= user.name %></span></td>
            <td class='td-follow'>
              <% unless user === current_user %>
                <% if user.followed_by?(current_user) %>
                  <%= link_to'フォロー中',user_relationships_path(user),method: :delete,class:'user-followed' %>
                <% else %>
                  <% unless user == current_user %>
                    <%= link_to 'フォローする',user_relationships_path(user),method: :post,class:'user-following' %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class='pagenate'>
      <%= paginate @users %>
    </div>
  </div>
</div>