<div class='container'>
  <div class='col-md-8 user-index'>
    <div id="depSelector">
      <h2>ユーザー一覧</h2>
      <p>学部 :  <select class="departments"></select></p>
      <p>学科 :  <select class="courses"></select></p>
    </div>
    <table class='user-index-table'>

      <% #モーダルbg %>
      <div class='bg' id='bg'></div>

      <tbody>
        <tr>
        <td class='td-profile-image'>
          <%= link_to user_path(current_user) do %>
            <%= image_tag current_user.get_profile_image,size:'30x30',class:'index-profile-image' %>
          <% end %>
        </td>
          <td class='td-user-name' height='50'><span class='user-name-height'><%= current_user.name %></span></td>
          <td>投稿<%= current_user.kakomons.count %>件</td>
        </tr>
        <% modalNumber = 0 %>
        <% @users.each do |user| %>

          <div class='user-index-modal' data-id = modalNumber>
            <div><%= image_tag user.get_profile_image,size:'30x30',class:'index-profile-image' %></div>
            <div><%= user.name %></div>
            <div>フォローをやめる</div>
            <div>キャンセル</div>
          </div>

          <tr>
            <% unless user === current_user %>
              <td class='td-profile-image' height='50'> 
                <%= link_to user_path(user) do %>
                  <%= image_tag user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                <% end %>
              </td>
              <td class='td-user-name'><span class='user-name-height'><%= user.name %></span></td>
              <td>投稿<%= user.kakomons.count %>件</td>
              <td class='td-follow'>
                <% if user.followed_by?(current_user) %>
                  <span class='user-index-modal-open'>フォロー中</span>
                <% else %>
                  <% unless user == current_user %>
                    <%= link_to 'フォローする',user_relationships_path(user),method: :post,class:'user-following' %>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
          <% modalNumber = modalNumber + 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>