<div class='container'>
  <div class='col-md-8 user-index'>
    <div id="depSelector">
      <h3>ユーザー一覧</h3>
      <div class="search_form">
        <%= form_with url: search_users_path, local: true, method: :get do |f| %>
          <%= f.select :dep, options_for_select([["文学部","文学部"], ["教育人間科学部","教育人間科学部"],  ["経済学部","経済学部"], 
          ["法学部","法学部"], ["経営学部","経営学部"], ["国際政治経済学部","国際政治経済学部"], ["総合文化政策学部","総合文化政策学部"], 
          ["理工学部","理工学部"], ["社会情報学部","社会情報学部"], ["地球社会共生学部","地球社会共生学部"], ["コミュニティ人間科学部","コミュニティ人間科学部"]]),{prompt:'指定なし'} %>
          <%= f.submit "検索する" %>
        <% end %>
      </div>
    </div>
    
    <% if @users.count === 0 %>
      <div class='no-user'>該当のユーザーはいません</div>
    <% else %>
      <table class='user-index-table'>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td class='td-profile-image' height='50'> 
                <%= link_to user_path(user) do %>
                  <%= image_tag user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                <% end %>
              </td>
              <td class='td-user-name'><span class='user-name-height'><%= user.name %></span></td>
              <td class='td-follow'>
                <% unless user === current_user %>
                  <% if user.followed_by?(current_user) %>
                    <%= link_to'フォロー中',user_relationships_path(user),method: :delete,class:'user-followed' %>
                  <% else %>
                    <% unless user == current_user %>
                      <%= link_to 'フォローする',user_relationships_path(user),method: :post,class:'user-following' %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <div class='pagenate'>
      <%= paginate @users %>
    </div>
  </div>
</div>