<div class='flash-message'>
    <% if flash[:notice] %>
        <div class='alert alert-secondary'>
            <%= flash[:notice] %>
        </div>
    <% end %>
</div>

<div class='container'>
    <div class='col-md-10 users-show'>
        <div class='users-show-top'>
            <%= render 'userInfo' %>
        </div>
            
        <div class='count-follower-following'>
            <span class='kakomon-count'>
                <%= link_to user_path(@user),class:'user-show-top' do %>
                    投稿<%= @user.kakomons.count %>件
                <% end %>
            </span>
            <span class='span-following'><%= link_to 'フォロー中',followings_user_path,class:'user-show-top-show' %></span>
            <span class='span-follower'><%= link_to 'フォロワー',followers_user_path,class:'user-show-top-show' %></span>
        </div>

        <% if @user.kakomons.count === 0 %>
            <span class='no-follower'>投稿はありません</span>
        <% else %>
            <div class='users-show-content'>
                <% @kakomons.each do |kakomon| %>
                    <div class='show-kakomon-content'>
                        <div class='article-body'>
                            <% if kakomon.image1.attached? %>
                                <%= link_to kakomon_path(kakomon) do %>
                                    <%= image_tag kakomon.image1,class:'kakomon-show-link' %>
                                <% end %>
                            <% end %>
                        </div>
                        <div class='user-article-bottom'>
                            科目 : <%= kakomon.sub %><br>
                            年度 : <%= kakomon.year %><br>
                            教授 : <%= kakomon.prof %><br>
                            <span class='kakomon-date'><%= kakomon.created_at.strftime('%Y/%m/%d') %></span>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>


