<% if flash[:notice] %>
    <div class='alert alert-secondary'>
        <%= flash[:notice] %>
    </div>
<% end %>

<div class='container'>
    <div class='col-md-10 users-show'>
        <div class='users-show-top'>
            <table>
                <tr>
                    <td rowspan='5'><%= image_tag @user.get_profile_image,size:'150x150',class:'show-profile-image' %></td>
                </tr>
                <tr>
                    <td class='td-user-name'><span class='show-user-name'><%= @user.name %></span></td>
                    <td>
                        <% if @user === current_user %>
                            <%= link_to 'プロフィールを編集',edit_user_path(@user),class:'user-setting' %>
                        <% else %>
                            <% unless @user.id == current_user.id %>    
                                <% if @haveRoom == true %>    
                                    <%= link_to "メッセージを送信",room_path(@roomId),class:'make-room' %>
                                <% else %>
                                    <%= form_with model: @room,local: true do |f|%>   
                                        <%= fields_for @RoomUser do |r| %>  
                                            <%= r.hidden_field :user_id, value: @user.id %>  
                                        <% end %>
                                        <%= f.submit "メッセージを送信",class:'make-room' %>
                                    <% end %>
                                    <% end %>
                            <% end %>
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td class='dep-width' height='40'>
                        <%= render 'depCor',user:@user,number2:@number2,number3:@number3 %>
                        <%= render 'year',user:@user,number2:@number2,number4:@number4,number5:@number5 %>
                        <%= @user.year %><br /><%= @user.dep %><br /><%= @user.cor %>
                    </td>
                    <td>
                        <% if @user === current_user %>
                            <%= link_to 'ログアウト',destroy_user_session_path,class:'user-setting',method: :delete %>
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td colspan='2' class='td-introduction' height='40'>
                        <%= simple_format(@user.introduction) %>
                    </td>
                </tr>
            </table>
        </div>
            
        <div class='count-follower-following'>
            <span class='kakomon-count'>
                <%= link_to user_path(@user),class:'user-show-top' do %>
                    投稿<%= @user.kakomons.count %>件
                <% end %>
            </span>
            <span class='span-following'><%= link_to 'フォロー中',followings_user_path,class:'user-show-top-show' %></span>
            <span class='span-follower'><%= link_to 'フォロワー',followers_user_path,class:'user-show-top-show' %></span>
        </div>

        <% if @user.kakomons.count === 0 %>
            <span class='no-kakomon'>投稿はありません</span>
        <% else %>
            <div class='users-show-content mt-2'>
                <% @kakomons.each do |kakomon| %>
                    <div class='show-kakomon-content'>
                        <div class='article-body'>
                            <%= link_to kakomon_path(kakomon) do %>
                                <%= image_tag kakomon.image,size:'401x400',class:'kakomon-show-link' %>
                            <% end %>
                        </div>
                        <div class='user-article-bottom'>
                            科目 : <%= kakomon.sub %><br>
                            年度 : <%= kakomon.year %><br>
                            教授 : <%= kakomon.prof %><br>
                            
                            <span class='kakomon-date'><%= kakomon.created_at.strftime('%Y/%m/%d') %></span>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
