<div class='boards-index-wrapper'>
    <div class='container'>
        <div class='row' %>
            <div class='col-md-10 admin-index-kakomon-wrapper'>

                <div class='admin-kakomons-top-wrapper'>
                    <div class='admin-kakomons-top'>
                        <span class='post-index'>投稿一覧</span>
                        <span class='admin-kakomon'>
                            <%= link_to admin_kakomons_path,class:'kakomon-report-link' do %>
                                <%= render 'admin/kakomons/statusCount' ,kakomons:@kakomons %>
                            <% end %>
                        </span>
                        <span class='admin-board-at'>
                            <%= link_to admin_boards_path,class:'kakomon-report-link' do %>
                              <%= render 'admin/boards/statusCount' ,boards:@boards %>
                            <% end %>
                        </span>
                    </div>
                </div>

                <div class='admin-board-index-wrapper'>
                    <% @boards.each do |board| %>
                        <div class='admin-index-board-wrapper'>
                            <div class='admin-index-kakomon-content-wrapper'>
                                <div class='admin-index-board-content'>
                                    <%= board.created_at.strftime('%Y年%m月%d日') %>
                                    <span class='admin-board-status-<%= board.id %>'>
                                        <%= render 'boardStatus',board:board %>
                                    </span>
                                    <span class='admin-board-favorites-<%= board.id %> admin-board-favorites'>
                                        <%= render 'admin/boards/favorite' ,board:board %>
                                    </span>
                                    <%= link_to '削除する',admin_board_path(board),method: :delete,class:'btn btn-outline-danger admin-kakomon-delete-button',data:{confirm:'本当に削除しますか？'} %>
                                    <br />
                                    <%= link_to admin_end_user_path(board.end_user),class:'index-profile-image-link' do %>
                                        <%= image_tag board.end_user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                                    <% end %>
                                    <span class='kakomon-user-name-top'>
                                        <%= link_to board.end_user.name,admin_end_user_path(board.end_user),class:'end-user-name-link' %>
                                    </span><br />
                                    講義 : <%= board.sub %><br>
                                    教授 : <%= board.prof %><br>
                                    <span class='form1'>講義の面白さ</span><span class='star-rate1' id="star-rate1-<%= board.id %>"></span><br />
                                    <span class='form2'>教授の人柄</span><span class='star-rate2' id="star-rate2-<%= board.id %>"></span><br />
                                    <span class='form3'>単位の取りやすさ</span><span class='star-rate3' id="star-rate3-<%= board.id %>"></span><br />
                                    <script>
                                        $('#star-rate1-<%= board.id %>').empty();
                                        $('#star-rate1-<%= board.id %>').raty({
                                            starOff:  '<%= asset_path('star-off.png') %>',
                                            starOn : '<%= asset_path('star-on.png') %>',
                                            readOnly: true,
                                            score: <%= board.rate1 %>
                                        });
                                    </script>
                                    <script>
                                        $('#star-rate2-<%= board.id %>').empty();
                                        $('#star-rate2-<%= board.id %>').raty({
                                            starOff:  '<%= asset_path('star-off.png') %>',
                                            starOn : '<%= asset_path('star-on.png') %>',
                                            readOnly: true,
                                            score: <%= board.rate2 %>
                                        });
                                    </script>
                                    <script>
                                        $('#star-rate3-<%= board.id %>').empty();
                                        $('#star-rate3-<%= board.id %>').raty({
                                            starOff:  '<%= asset_path('star-off.png') %>',
                                            starOn : '<%= asset_path('star-on.png') %>',
                                            readOnly: true,
                                            score: <%= board.rate3 %>
                                        });
                                    </script>
                                </div>
                            </div>
                         </div>
                    <% end %>
                </div>
                <div class='pagenate'>
                    <%= paginate @boards %>
                </div>
            </div>
        </div>
    </div>  
</div>



