<div class='boards-index-wrapper'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-10 offset-1 admin-board-index'>

          <div class='index-modal-bg'></div>
          <% i = 0 %>
          <% len = @reports.length %>

          <div class='board-index-no-login'>
            <% while i < len do %>
              <% @reports.each do |report| %>
                <div class='index-board-content-no-login'>
                  <div class='article-top'>
                    <% #アイコン、名前 %>
                    <%= link_to end_user_path(report.board.end_user),class:'index-profile-image-link' do %>
                      <%= image_tag report.board.end_user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                    <% end %>
                    <span class='kakomon-user-name-top'><%= report.board.end_user.name %></span>
                    <span>( 報告者 : <%= report.end_user.name %> )</span>

                    
                  </div>
                  <div class='article-bottom-board'>
                    講義 : <%= report.board.sub %><br>
                    教授 : <%= report.board.prof %><br>
                    <span class='form1'>講義の面白さ</span><span class='star-rate1' id="star-rate1-<%= report.id %>"></span><br />
                    <span class='form2'>教授の人柄</span><span class='star-rate2' id="star-rate2-<%= report.id %>"></span><br />
                    <span class='form3'>単位の取りやすさ</span><span class='star-rate3' id="star-rate3-<%= report.id %>"></span><br />
                    <span class='admin-board-comment-all'><%= report.board.comment %></span>
                    <span class='board-date'><br /><%= report.board.created_at.strftime('%Y/%m/%d') %>
                  </div>
                </div>
                <script>
                  $('#star-rate1-<%= report.id %>').raty({
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    readOnly: true,
                    score: <%= report.board.rate1 %>
                  });
                </script>
                <script>
                  $('#star-rate2-<%= report.id %>').raty({
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    readOnly: true,
                    score: <%= report.board.rate2 %>
                  });
                </script>
                <script>
                  $('#star-rate3-<%= report.id %>').raty({
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    readOnly: true,
                    score: <%= report.board.rate3 %>
                  });
                </script>
                <% i += 1 %>
              <% end %>
            <% end %>
          </div>
          
          <div class='pagenate'>
            <%= paginate @reports %>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class='boards-index-wrapper-1000'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 board-index'>

        <div class='index-modal-bg'></div>
        <% i = 0 %>
        <% len = @reports.length %>

        <div class='kakomon-index'>
          <% while i < len do %>
            <% @reports.each do |report| %>
              <div class='index-board-content'>
                <div class='article-top'>
                  <% #アイコン、名前 %>
                  <%= link_to end_user_path(report.board.end_user),class:'index-profile-image-link' do %>
                    <%= image_tag report.board.end_user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                  <% end %>
                  <span class='kakomon-user-name-top'><%= report.board.end_user.name %></span>

                </div>
                <div class='article-bottom-board'>
                  講義 : <%= report.board.sub %><br>
                  教授 : <%= report.board.prof %><br>
                  <span class='form1'>講義の面白さ</span><span class='star-rate1' id="star-rate1-<%= report.id %>-1000"></span><br />
                  <span class='form2'>教授の人柄</span><span class='star-rate2' id="star-rate2-<%= report.id %>-1000"></span><br />
                  <span class='form3'>単位の取りやすさ</span><span class='star-rate3' id="star-rate3-<%= report.id %>-1000"></span><br />
                  <span class='admin-board-comment-all-1000'><%= report.board.comment %></span>
                  <span class='board-date'><br /><%= report.board.created_at.strftime('%Y/%m/%d') %>
                </div>
              </div>
              <script>
                $('#star-rate1-<%= report.id %>-1000').raty({
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  readOnly: true,
                  score: <%= report.board.rate1 %>
                });
              </script>
              <script>
                $('#star-rate2-<%= report.id %>-1000').raty({
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  readOnly: true,
                  score: <%= report.board.rate2 %>
                });
              </script>
              <script>
                $('#star-rate3-<%= report.id %>-1000').raty({
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  readOnly: true,
                  score: <%= report.board.rate3 %>
                });
              </script>
              <% i += 1 %>
            <% end %>
          <% end %>
        </div>
        
        <div class='pagenate'>
          <%= paginate @reports %>
        </div>
      </div>
    </div>
  </div>    
