<div class='container'>
  <div class='col-md-10 sessions'>
    <div class='sessions-content'>
      <h3>ログイン</h3>
      <%= form_with model: @user, url: user_session_path,local: true do |f| %>

        <div class="field">
          <%= f.label :number %><br />
          <%= f.text_field :number, autofocus: true, autocomplete: "number" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>
      <div class='sessions-alert'>
        <span class='sessions-aokako-font'>Aokako</span>を初めて使う場合は<br />新規登録が必要です。
      </div>
    </div>
  </div>
</div>