<% if @user.boards.count === 0 %>
    <span class='no-follower'>投稿はありません</span>
<% else %>
    <div class='admin-board-index-show'>    
        <% @boards.each do |board| %>
            <div class='admin-enduser-board-content'>
                <div class='article-bottom'>
                    講義 : <%= board.sub %><%= link_to '削除する',admin_board_path(board),method: :delete,class:'btn btn-outline-danger admin-end-user-board-delete',data:{confirm:'本当に削除しますか？'} %><br>
                    教授 : <%= board.prof %><br>
                    <span class='user-form1'>講義の面白さ</span><span class='star-rate1' id="star-rate1-<%= board.id %>"></span><br />
                    <span class='user-form2'>教授の人柄</span><span class='star-rate2' id="star-rate2-<%= board.id %>"></span><br />
                    <span class='user-form3'>単位の取りやすさ</span><span class='star-rate3' id="star-rate3-<%= board.id %>"></span><br />
                    <span class='admin-board-date'><%= board.created_at.strftime('%Y/%m/%d') %>
                </div>
            </div>
    
            <script>
                $('#star-rate1-<%= board.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                readOnly: true,
                score: <%= board.rate1 %>
                });
            </script>
            <script>
                $('#star-rate2-<%= board.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                readOnly: true,
                score: <%= board.rate2 %>
                });
            </script>
            <script>
                $('#star-rate3-<%= board.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                readOnly: true,
                score: <%= board.rate3 %>
                });
            </script>
        <% end %>
    </div>
<% end %>