<% if @user.kakomons.count === 0 %>
    <span class='no-follower'>投稿はありません</span>
<% else %>
    <div class='admin-enduser-kakomon-index-wrapper'>
        <% @kakomons.each do |kakomon| %>
            <div class='admin-enduser-boards-index-wrapper'>
                <div class='admin-enduser-kakomon-wrapper'>
                    <div>
                        講義名: <%= kakomon.sub %>
                        <%= link_to '削除する',admin_kakomon_path(kakomon),class:'btn btn-outline-danger admin-end-user-board-delete',method: :delete,data:{confirm:'本当に削除しますか？'} %><br />
                        教授名: <%= kakomon.prof %><br />
                        年度: <%= kakomon.year %><br />
                    </div>
                    <div class='mt-2'>
                        <div class='article-body-kakomons-show'> 
                            <div class="swiper-container kakomons-show-swiper-container">
                                <div class="swiper-wrapper kakomons-show-swiper-wrapper">
                                    <% kakomon.images.each do |image|%>
                                        <div class="swiper-slide">
                                            <%= image_tag image,class:'admin-enduser-kakomon-image-size' %>
                                        </div>
                                    <% end %>
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        </div>
    </div>
<% end %>
