<div class='user-info-show'>
    <div class='user-info-profile-image'>
        <%= image_tag @user.get_profile_image,class:'show-profile-image' %>
    </div>
    <div class='user-info-user-name'>
        <span class='show-user-name'><%= @user.name %></span><br />
        
        <div class='user-info-follow-setting-wrapper'>
            <% if @user.is_deleted == false %>
                <%= link_to 'BAN',admin_path(@user),method: :patch,class:'btn btn-outline-danger ban-false',data:{confirm:'本当にBANしますか？'} %>
            <% else %>
                <span class='ban-true'>BAN中</span>
            <% end %>
            <% unless @user.rooms.count == 0 %>
                <span class='admin-rooms-link'><%= link_to 'メッセージ',admin_end_user_rooms_path(@user),class:'admin-message-link' %></span>
            <% end %>
        </div>
    </div>           
</div>


<div class='users-info-wrapper'>
    <%= render 'year',user:@user,number2:@number2,number4:@number4,number5:@number5 %>
    <ul class='users-info'>
        <% unless @user.year === '' %>
            <li class='li-user-year'><%= @user.year %></li>
        <% end %>
        <li class='li-user-dep'><%= @user.dep %></li>
        <li class='li-user-cor'><%= @user.cor %></li>
    </ul>
    <span class='user-introduction'><%= simple_format(@user.introduction) %></span>
</div> 



<% #モーダル %>
<div class='index-modal-bg'></div>
<div class='index-modal'>
    <div class='modal-content'>
        <% if @user === current_end_user %>
            <div class='modal-logout'>
                <%= link_to 'ログアウト',destroy_end_user_session_path,method: :delete,class:'logout-button-font' %>
            </div>
        <% else %>
            <div class='block-user'>
                ブロック
            </div>
            <div class='report-user'>
                報告する
            </div>
        <% end %>
        <div class='index-modal-close-button'>キャンセル</div>
    </div>
</div>



<script>
    $('.users-show-logout-button')
    .on('click',function(){
        $('.index-modal').fadeIn(200);
        $('.index-modal-bg').fadeIn(200);
        $("body").addClass("no_scroll");
    });
    $('.index-modal-bg,.index-modal-close-button')
    .on('click',function(){
        $("body").removeClass("no_scroll");
        $('.index-modal,.index-modal-bg').fadeOut(400);
    });
</script>