<div class='container'>
    <div class='col-md-10 users-show'>
        <div>
            <%= render 'userInfo' %>
        </div>

        <div class='count-follower-following'>
            <span class='kakomon-count'>
                過去問<%= @user.kakomons.count %>件
            </span>
            <span class='class-count'>
                講義評価<%= @user.boards.count %>件
            </span>
        </div>
        

        <div class='kakomon-index-end-user'>
            <%= render 'kakomonIndex' %>
        </div>

        <div class='board-index-end-user'>
            <%= render 'boardIndex' %>
        </div>
    </div>
</div>


