<div class='container'>
  <div class='row'>
    <div class='col-md-10 board-index'>
      <div class="board-top">
        <h3>講義一覧</h3>
        <%= render 'search' %>
      </div>

      <div class='kakomon-index'>
        <% @boards.each do |board| %>
          <div class='index-board-content'>
            <div class='article-top'>
              <% #アイコン、名前 %>
              <%= link_to user_path(board.user),class:'index-profile-image-link' do %>
                <%= image_tag board.user.get_profile_image,size:'30x30',class:'index-profile-image' %>
              <% end %>
              <span class='kakomon-user-name-top'><%= board.user.name %></span>
            </div>
            <div class='article-bottom-board'>
              講義 : <%= board.sub %><br>
              教授 : <%= board.prof %><br>
              <span class='form1'>講義の面白さ</span><span class='star-rate1' id="star-rate1-<%= board.id %>"></span><br />
              <span class='form2'>教授の人柄</span><span class='star-rate2' id="star-rate2-<%= board.id %>"></span><br />
              <span class='form3'>単位の取りやすさ</span><span class='star-rate3' id="star-rate3-<%= board.id %>"></span><br />
              <span class='board-comment'><%= board.comment[0..19] %>...</span><span class='continue-comment-link'><%= link_to '続きを読む',board_path(board),class:'continue-comment-link' %><br /></span></span>
              <span class='board-comment-1200'><%= board.comment[0..15] %>...</span><span class='continue-comment-link-1200'><%= link_to '続きを読む',board_path(board),class:'continue-comment-link-1200' %><br /></span></span>
              <span class='board-comment-1000'><%= board.comment[0..15] %>...</span><span class='continue-comment-link-1000'>続きを読む<br /></span></span>
              <span class='board-comment-460'><%= board.comment[0..17] %>...</span><span class='continue-comment-link-460'>続きを読む<br /></span></span>
              <span class='board-comment-all'><%= board.comment %><br /></span>
              <span class='board-date'><%= board.created_at.strftime('%Y/%m/%d') %>
            </div>
          </div>

          <script>
            $('#star-rate1-<%= board.id %>').raty({
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              readOnly: true,
              score: <%= board.rate1 %>
            });
          </script>
          <script>
            $('#star-rate2-<%= board.id %>').raty({
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              readOnly: true,
              score: <%= board.rate2 %>
            });
          </script>
          <script>
            $('#star-rate3-<%= board.id %>').raty({
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              readOnly: true,
              score: <%= board.rate3 %>
            });
          </script>

        <% end %>
      </div>
      
      <div class='pagenate'>
        <%= paginate @boards %>
      </div>
    </div>
  </div>
</div>