<div class='container'>
  <div class="board-top">
    <h3>講義一覧</h3>
    <%= render 'search' %>
  </div>

  <div class='col-md-10 kakomon-index'>
    <% @boards.each do |board| %>
      <div class='index-kakomon-content'>
        <div class='article-top'>
          <% #アイコン、名前 %>
          <%= link_to user_path(board.user),class:'index-profile-image-link' do %>
            <%= image_tag board.user.get_profile_image,size:'30x30',class:'index-profile-image' %>
          <% end %>
          <span class='kakomon-user-name-top'><%= board.user.name %></span>
        </div>
        <div class='article-bottom'>
            講義 : <%= board.sub %><br>
            教授 : <%= board.prof %><br>
            <span class='form1'>講義の面白さ</span><span id="star-rate1-<%= board.id %>"></span><br />
            <span class='form2'>教授の人柄</span><span id="star-rate2-<%= board.id %>"></span><br />
            <span class='form3'>単位の取りやすさ</span><span id="star-rate3-<%= board.id %>"></span><br />
            <span class='board-comment'><%= board.comment[0..19] %>...</span><span class='continue-comment'>続きを読む</span><br />
            <span class='board-date'><%= board.created_at.strftime('%Y/%m/%d') %></span>
            </div>
        </div>

        <script>
            $('#star-rate1-<%= board.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                readOnly: true,
                score: <%= board.rate1 %>
            });
        </script>
        <script>
            $('#star-rate2-<%= board.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                readOnly: true,
                score: <%= board.rate2 %>
            });
        </script>
        <script>
            $('#star-rate3-<%= board.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                readOnly: true,
                score: <%= board.rate3 %>
            });
        </script>
    <% end %>
  </div>
  <div class='pagenate'>
    <%= paginate @boards %>
  </div>
</div>