<div class='container'>
    <div class='row'>
        <div class='col-md-6 rooms-show'>
            <% @RoomUsers.each do |r| %> 
                <% unless r.user.name === current_user.name %>
                    <%= image_tag r.user.get_profile_image,size:'40x40',class:'rooms-show-profile-image' %>
                    <span class='rooms-show-top-name'><%= r.user.name %>とのメッセージ</span>
                <% end %>
            <% end %>

            <div class='message-area'>
                <% if @messages.present? %>
                    <% @messages.each do |m| %>
                        <%= m.message %>
                        <%= m.created_at.strftime("%Y-%m-%d %H:%M") %>
                    <% end %>
                <% else %>
                    <p>メッセージはまだありません</p>
                <% end %>
            </div>
        
            <div class='rooms-show-form'>
                <%= form_with model: @message, local: true do |f| %>
                    <%= f.text_area :message, placeholder: "メッセージを入力してください",class:'message-text-area' %>
                    <%= f.hidden_field :room_id, value: @room.id %>
                    <%= f.submit '送信',class:'message-submit' %>
                <% end %>
            </div>
            
        </div>
    </div>
</div>