<% len = kakomons.length %>
<% i = 0 %>
<% while i < len do %>
    <% kakomons.each do |kakomon| %>
        <div class='index-kakomon-content'>
            <div class='article-top'>
                <% #アイコン、名前 %>
                <%= link_to end_user_path(kakomon.end_user),class:'index-profile-image-link' do %>
                    <%= image_tag kakomon.end_user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                <% end %>
                <span class='kakomon-user-name-top'><%= kakomon.end_user.name %></span>
                <span id='<%= i %>' class='kakomons-index-top-button'><i class="fa-solid fa-ellipsis"></i></span>
            
                <% #モーダル %>
                <div class='index-modal'>
                    <div class='modal-content'>
                        <% if kakomon.end_user === current_end_user %>
                            <div class='kakomon-delete'>
                                <%= link_to'削除する',kakomon_path(kakomon),class:'kakomon-delete-link',method: :delete %><br />
                            </div>
                        <% else %>  
                            <div class='kakomon-report-<%= i %> kakomon-report'>報告する</div>
                        <% end %>
                        <div class='index-modal-close-button'>キャンセル</div>
                    </div>
                </div>
                <script>
                    $('#<%= i %>').on('click',function(){
                        var numberstr = '<%= i %>';
                        var numberInd = Number(numberstr)
                        $('.index-modal').eq(numberInd).fadeIn();
                        $('.index-modal-bg').fadeIn();
                        $("body").addClass("no_scroll");
                    });
                </script>

                <div class='report-reason-modal'>
                    <div class='modal-content'>
                        <%= form_with(model:[kakomon,@report],url:kakomon_kakomonreports_path(kakomon),local:false) do |f| %>
                            <div class='report-reason-content'>
                                <span class='user-radio-button'><%= f.radio_button :report, Kakomonreport.reports.key(0) %></span>スパムである
                            </div>
                            <div class='report-reason-content'>
                                <span class='user-radio-button'><%= f.radio_button :report, Kakomonreport.reports.key(1) %></span>いじめまたは嫌がらせ
                            </div>
                            <div class='report-reason-content'>
                                <span class='user-radio-button'><%= f.radio_button :report, Kakomonreport.reports.key(2) %></span>虚偽の情報
                            </div>
                            <div class='report-reason-content'>
                                <span class='user-radio-button'><%= f.radio_button :report, Kakomonreport.reports.key(3) %></span>単に気に入らない
                            </div>
                            <div class='report-reason-content'>
                                <%= f.submit'報告する',class:'end-user-report-button-last' %>
                            </div>
                        <% end %>
                    </div>
                </div>
                <script>
                    $('.kakomon-report-<%= i %>').on('click',function() {
                        var numberstr = '<%= i %>';
                        var numberInd = Number(numberstr)
                        $('.report-reason-modal').eq(numberInd).fadeIn();
                        $('.index-modal').fadeOut();
                    });
                </script>


            </div>
            <% #画像 %>
            <div class='article-body'> 
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <% kakomon.images.each do |image|%>
                            <div class="swiper-slide">
                                <%= image_tag image,class:'kakomons-index-image-size' %>
                            </div>
                        <% end %>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            <% #thanks %>
            <div class='kakomon-favorites-<%= kakomon.id %> kakomon-favorites'>
                <%= render 'favorite' ,kakomon:kakomon %>
            </div>
            <% #投稿の下部分 %>
            <div class='article-bottom'>
                講義 : <%= kakomon.sub %><br>
                教授 : <%= kakomon.prof %><br>
                年度 : <%= kakomon.year %><br>
                <span class='kakomon-date'><%= kakomon.created_at.strftime('%Y/%m/%d') %></span>
            </div>
            <% #過去問詳細 %>
            <%= render 'modalShow',kakomon:kakomon,i:i %>
            <script>
                $('.index-kakomons-show-link-<%= i %>')
                    .on('click',function(){
                        var numberstr = '<%= i %>';
                        var numberInd = Number(numberstr)
                        $('.kakomons-show').eq(numberInd).fadeIn();
                        $('.index-modal-bg').fadeIn();
                    });
            </script>
        </div>
        <% i += 1 %>
    <% end %>
<% end %>



