<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>


<div class='search-result'>
  <span class='search-result-sub'><%= @sub %></span>の検索結果<span class='search-result-sub'><%= kakomons.length %></span>件
  <%= link_to 'クリア',searchClear_kakomons_path,method: :get,remote:true,class:'search-clear-button' %>
</div>


<% len = kakomons.length %>
<% i = 0 %>
<% while i < len do %>
    <% kakomons.each do |kakomon| %>
    <div class='index-kakomon-content'>
        <div class='article-top'>
        <% #アイコン、名前 %>
        <%= link_to end_user_path(kakomon.end_user),class:'index-profile-image-link' do %>
            <%= image_tag kakomon.end_user.get_profile_image,size:'30x30',class:'index-profile-image' %>
        <% end %>
        <span class='kakomon-user-name-top'><%= kakomon.end_user.name %></span>
        <span id='<%= i %>' class='kakomons-index-top-button'><i class="fa-solid fa-ellipsis"></i></span>
        


            <% #モーダル %>
            <div class='index-modal'>
            <div class='modal-content'>
                <% if kakomon.end_user === current_end_user %>
                <div class='kakomon-delete'>
                    <%= link_to'削除する',kakomon_path(kakomon),class:'kakomon-delete-link',method: :delete %><br />
                </div>
                <div class='kakomons-show-link-hr'>
                    <%= link_to'詳細を表示',kakomon_path(kakomon),class:'index-kakomons-show-link' %>
                </div>
                <% else %>  
                <%= form_with(model:[kakomon,@report],local:true,url:kakomon_kakomonreports_path(kakomon)) do |f| %>
                    <%= f.hidden_field :id, :value => kakomon.id %>
                    <%= f.submit '報告する',class:'kakomon-report' %>
                <% end %>
                <div class='kakomons-show-link-hr'>
                    <%= link_to'詳細を表示',kakomon_path(kakomon),class:'index-kakomons-show-link' %>
                </div>
                <% end %>
                <div class='index-modal-close-button'>キャンセル</div>
                <script>
                $('#<%= i %>')
                    .on('click',function(){
                    var numberstr = '<%= i %>';
                    var numberInd = Number(numberstr)
                    $('.index-modal').eq(numberInd).fadeIn();
                    $('.index-modal-bg').fadeIn();
                    $("body").addClass("no_scroll");
                    });
                $('.index-modal-bg,.index-modal-close-button')
                    .on('click',function(){
                    $("body").removeClass("no_scroll");
                    $('.index-modal,.index-modal-bg').fadeOut();
                    });
                </script>
            </div>
        </div>
        </div>
        <% #画像 %>
        <div class='article-body'> 
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                    <% if kakomon.image1.attached? %>
                        <%= image_tag kakomon.image1,class:'kakomons-index-image-size' %>
                    <% end %>
                    </div>
                    <% if kakomon.image2.attached? %>
                    <div class="swiper-slide">
                        <%= image_tag kakomon.image2,class:'kakomons-index-image-size' %>
                    </div>
                    <% end %>
                    <% if kakomon.image3.attached? %>
                    <div class="swiper-slide">
                        <%= image_tag kakomon.image3,class:'kakomons-index-image-size' %>
                    </div>
                    <% end %>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <% #thanks %>
        <div class='kakomon-favorites-<%= kakomon.id %> kakomon-favorites'>
            <%= render 'favorite' ,kakomon:kakomon %>
        </div>
        <% #投稿の下部分 %>
        <div class='article-bottom'>
        講義 : <%= kakomon.sub %><br>
        教授 : <%= kakomon.prof %><br>
        年度 : <%= kakomon.year %><br>
        <span class='kakomon-date'><%= kakomon.created_at.strftime('%Y/%m/%d') %></span>
        </div>
    </div>
    <% i += 1 %>
    <% end %>
<% end %>
<div class='pagenate'>
    <%= paginate kakomons %>
</div>