<div class='kakomon-search-sub-wrapper'>
  <% if end_user_signed_in? %>
    <% if current_end_user.number.slice(3)==='2' && current_end_user.number.slice(4) === '2' %>
      <%= form_with url: searchSub_kakomons_path,method: :get,local:false do |f| %>
        <%= f.text_field :sub,class:'board-search-sub',placeholder:'講義名' %>
        <%= f.submit '検索する',class:'sub-search-submit' %>
      <% end %>
    <% else %>
      <% if current_end_user.kakomons.count === 0 %>
        <div class='text-area-submit-button-wrapper'>
          <div class='sub-demo-text-area-kakomon'><span class='sub-demo-text-area-content-kakomon'>講義名</span></div>
          <div class='no-kakomon-search-submit'>検索する</div><br />
        </div>
        <span class='no-kakomon-message'></span>
      <% else %>
        <%= form_with url: searchSub_kakomons_path,method: :get,local:false do |f| %>
          <%= f.text_field :sub,class:'board-search-sub',placeholder:'講義名' %>
          <%= f.submit '検索する',class:'sub-search-submit' %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div class='text-area-submit-button-wrapper'>
      <div class='sub-demo-text-area-no-login'><span class='sub-demo-text-area-content-no-login'>講義名</span></div>
      <div class='no-kakomon-search-submit-no-login'>検索する</div><br />
    </div>
    <span class='no-kakomon-message-not-login'></span>
  <% end %>
</div>


<div class='kakomon-search-prof-wrapper'>
  <% if end_user_signed_in? %>
    <% if current_end_user.number.slice(3)==='2' && current_end_user.number.slice(4) === '2' %>
      <%= form_with url: searchProf_kakomons_path,method: :get,local:false do |f| %>
        <%= f.text_field :prof,class:'board-search-prof',placeholder:'教授名' %>
        <%= f.submit '検索する',class:'prof-search-submit' %>
      <% end %>
    <% else %>
      <% if current_end_user.kakomons.count === 0 %>
        <div class='text-area-submit-button-wrapper'>
          <div class='sub-demo-text-area-kakomon'><span class='sub-demo-text-area-content-kakomon'>講義名</span></div>
          <div class='no-kakomon-search-submit'>検索する</div><br />
        </div>
        <span class='no-kakomon-message'></span>
      <% else %>
        <%= form_with url: searchProf_kakomons_path,method: :get,local:false do |f| %>
          <%= f.text_field :prof,class:'board-search-prof',placeholder:'教授名' %>
          <%= f.submit '検索する',class:'prof-search-submit' %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div class='text-area-submit-button-wrapper'>
      <div class='sub-demo-text-area-no-login'><span class='sub-demo-text-area-content-no-login'>教授名</span></div>
      <div class='no-kakomon-search-submit-no-login'>検索する</div><br />
    </div>
    <span class='no-kakomon-message-not-login'></span>
  <% end %>
</div>
