<div class='kakomons-show-wrapper'>
    <div class='conainer'>
        <div class='row'>
            <div class='col-md-9 kakomons-show-kakomon'>
                <div class='kakomons-show-content-kakomon'>
                    <% #モーダル %>
                    <%= render 'modal'%>
                    <div class='article-body-kakomons-show'> 
                        <div class="swiper-container kakomons-show-swiper-container">
                            <div class="swiper-wrapper kakomons-show-swiper-wrapper">
                                <% @kakomon.images.each do |image|%>
                                    <div class="swiper-slide">
                                        <%= image_tag image,class:'kakomons-index-image-size' %>
                                    </div>
                                <% end %>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                    <div class='comment-wrapper'>
                        <% #アイコン、名前 %>   
                        <div class='kakomons-show-user-info'>
                            <%= link_to end_user_path(@kakomon.end_user),class:'index-profile-image-link' do %>
                                <%= image_tag @kakomon.end_user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                            <% end %>
                            <span class='kakomons-show-user-name'><%= @kakomon.end_user.name %></span>
                            <% if @kakomon.end_user.followed_by?(current_end_user) %>
                                <%= link_to'フォロー中',end_user_relationships_path(@kakomon.end_user),method: :delete,class:'kakomons-show-user-following' %>
                            <% else %>
                                <% unless @kakomon.end_user == current_end_user %>
                                    <%= link_to 'フォローする',end_user_relationships_path(@kakomon.end_user),method: :post,class:'kakomons-show-user-followed' %>
                                <% end %>
                            <% end %>
                            <span class='kakomons-show-top-button'><i class="fa-solid fa-ellipsis"></i></span>
                        </div>
                        <% #コメント %>
                        <div class='kakomons-show-comment-scroll'>
                            <%= render 'kakomonComment' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class='max-width-1000'>
    <div class='conainer'>
        <div class='row'>
            <div class='col-md-9 kakomons-show-1000'>
                <div class='kakomons-show-content-1000'>
                    <% #モーダル %>
                    <%= render 'modal'%>
    
                    <div class='comment-wrapper-1000'>
                        <% #アイコン、名前 %> 
                        <div class='kakomons-show-user-info-1000'>
                            <%= link_to end_user_path(@kakomon.end_user),class:'index-profile-image-link' do %>
                                <%= image_tag @kakomon.end_user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                            <% end %>
                            <span class='kakomons-show-user-name'><%= @kakomon.end_user.name %></span>
                            <% if @kakomon.end_user.followed_by?(current_end_user) %>
                                <%= link_to'フォロー中',end_user_relationships_path(@kakomon.end_user),method: :delete,class:'kakomons-show-user-following' %>
                            <% else %>
                                <% unless @kakomon.end_user == current_end_user %>
                                    <%= link_to 'フォローする',end_user_relationships_path(@kakomon.end_user),method: :post,class:'kakomons-show-user-followed' %>
                                <% end %>
                            <% end %>
                            <span class='kakomons-show-top-button'><i class="fa-solid fa-ellipsis"></i></span>
                        </div>
                        <% #画像　%>
                        <div class='article-body'> 
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <% @kakomon.images.each do |image|%>
                                        <div class="swiper-slide">
                                            <%= image_tag image,class:'kakomons-index-image-size' %>
                                        </div>
                                    <% end %>
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                        <% #コメント %>
                        <div class='kakomons-show-comment-scroll-1000'>
                            <%= render 'kakomonComment1000' %>
                        <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>