<% if @number2 == 'C' && @number3 == 'C' && @number4 == 'C' && @number5 == 'C' && @number6 == 'C' && @number7 == 'C' && @number8 == 'C' %>
    <div class='col-md-10 report-index'>
        <% @reports.each do |report| %>
            <div class='index-kakomon-content'>
                <div class='article-top'>
                    <% #アイコン、名前 %>
                    <%= link_to user_path(report.kakomon.user),class:'index-profile-image-link' do %>
                        <%= image_tag report.kakomon.user.get_profile_image,size:'30x30',class:'index-profile-image' %>
                    <% end %>
                    <span class='kakomon-user-name-top'><%= report.kakomon.user.name %></span>
                </div>
                <% #画像 %>
                <div class='article-body'> 
                    <%= link_to kakomon_path(report.kakomon),class:'image-link' do %>
                        <% if report.kakomon.image2.attached? || report.kakomon.image3.attached? %>
                            <i class="fa-solid fa-clone"></i>
                        <% end %> 
                        <% if report.kakomon.image1.attached? %>
                            <%= image_tag report.kakomon.image1,class:'reports-index-image-size' %>
                        <% end %>
                    <% end %>
                </div>
                <% #投稿の下部分 %>
                <div class='article-bottom'>
                    報告者 : <%= link_to report.user.name, user_path(report.user),class:'report-user' %><br>
                    講義 : <%= report.kakomon.sub %><br>
                    教授 : <%= report.kakomon.prof %><br>
                    年度 : <%= report.kakomon.year %><br>
                    <span class='kakomon-date'><%= report.kakomon.created_at.strftime('%Y/%m/%d') %></span>
                </div>
            </div>
        <% end %>
    </div>
    <div class='pagenate'>
        <%= paginate @reports %>
    </div>
<% end %>