<!DOCTYPE html>
<html>
  <head>
    <title>Aokako</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='header'>
      <% if user_signed_in? %>
        <ul>
          <li><%= link_to 'Aokako' ,kakomons_path,class:'aokako-font' %></li>
          <li>
            <%= link_to kakomons_path do %>
              <i class="fa-solid fa-house"></i>
            <% end %>
          </li>
          <li>
            <%= link_to users_path do %>
              <i class="fa-solid fa-user-plus"></i>
            <% end %>
          </li>
          <li>
            <%= link_to new_kakomon_path,class:'plus' do %>
              <span>＋</span>
            <% end %>
          </li>
          <li class='notifications'>
            <%= link_to rooms_path do %>
              <i class="fa-solid fa-comment"></i>
            <% end %> 
          </li>
          <li>
            <%= link_to notifications_path do %>
              <i class="fa-solid fa-bell"></i>
            <% end %>
          </li>
          <li>
            <%= link_to user_path(current_user) do %>
              <%= image_tag current_user.get_profile_image,size:'25x25',class:'nav-profile-image' %>
            <% end %>
          </li>
        </ul>
      <% else %>
        <ul>
          <li><%= link_to 'Aokako' ,root_path,class:'aokako-font' %></li>
          <li class='top'><%= link_to 'ログイン' ,new_user_session_path,class:'login-font' %></li>
          <li><%= link_to '新規登録',new_user_registration_path,class:'signin-font' %></li>
        </ul>
      <% end %>
    </div>


    <div id='body'>
      <%= yield %>
      <br />
      <br />
    </div>

  </body>
</html>

